// font
$h1-font-size:72px;
$h1-font-wight:'Bold';

// color
$color-banner-gray: #707070;
$color-banner-number: #ffa183;
$color-light-orange: #fe886d;
$color-dark-orange: #ff7950;

$color-text: #4f4f4f;
$color-btn-text: #ffffff;



