@charset "UTF-8";
main .first-section {
  width: 100%;
}

main .first-section .background .img {
  width: 74.8vw;
  height: 28.35vw;
  background-image: url(/img/04-assistant/blue-wave.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main .first-section .background .img .background-title {
  font-size: 81px;
  padding: 0 35px;
  color: #ffffff;
  background-color: #86cee8;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

main .first-section .background .links {
  position: absolute;
  top: -82.5px;
  right: 6.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .first-section .background .links .link {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fe886d;
  margin: 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fe886d;
  font-size: 48px;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

main .first-section .background .links .active {
  width: 165px;
  height: 165px;
  font-size: 108px;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  cursor: unset;
}

main .first-section .helpSwiper {
  margin-top: -13.2vw;
}

main .first-section .helpSwiper .swiper-slide {
  width: 462px !important;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card {
  background-image: url("/img/first-section/米色背景.jpg");
  border-radius: 40px;
  position: relative;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .donate-can-img {
  padding: 30px 30px 0;
  position: relative;
  cursor: pointer;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .donate-can-img:hover .card-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .donate-can-img:hover .donate-img {
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .donate-can-img .card-shadow {
  position: absolute;
  bottom: -1%;
  width: 87%;
  color: #ffffff;
  background-color: rgba(252, 161, 131, 0.7);
  font-size: 32px;
  border-radius: 0 0 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  display: none;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .donate-can-img .card-shadow span {
  font-size: 32px;
  padding: 0 10px;
  background-color: #fd6739;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text {
  border-radius: 0 0 40px 40px;
  background-color: #ffa183;
  padding: 54px 30px 20px;
  margin-top: -30px;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area .donate-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area .donate-number p {
  font-size: 18px;
  color: #ffffff;
  border-style: solid;
  border-radius: 20px;
  padding: 10px 30px;
  border-color: #ffffff;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area .donate-number .fb-icon {
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: #6d9ffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area h6 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 0 54px;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area h6:nth-child(2) {
  font-weight: bolder;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area .donate-btn .btn {
  width: 232px;
  height: 67px;
  background-color: #ff7950;
  border-radius: 40px;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area .donate-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .second-section {
  margin: 250px 0;
}

main .second-section .title-area {
  width: 428px;
  height: 130px;
  margin: auto;
  position: relative;
  margin-bottom: 7.2%;
}

main .second-section .title-area .title-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

main .second-section .title-area .title-text h1 {
  color: #4f4f4f;
  font-size: 72px;
}

main .second-section .decorationCat {
  position: relative;
  z-index: 2;
}

main .second-section .decorationCat:hover + .applySwiper .swiper-slide .left-photo {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

main .second-section .applySwiper {
  margin-top: -232px;
}

main .second-section .applySwiper .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40.06vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .second-section .applySwiper .swiper-slide .line {
  width: 11%;
  height: 5px;
  border-radius: 5px;
  background-color: #ee8e74;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -7%;
}

main .second-section .applySwiper .swiper-slide:nth-child(2n) {
  width: 36.1vw;
  padding-left: 9%;
  margin-right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .second-section .applySwiper .swiper-slide .left-photo {
  height: 40.06vw;
  mix-blend-mode: darken;
}

main .second-section .applySwiper .swiper-slide .left-photo:hover {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

main .second-section .applySwiper .my-bullet {
  padding: 1.35vw 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

main .second-section .applySwiper .my-bullet:nth-child(5) {
  display: none;
}

main .second-section .applySwiper .my-bullet::after {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #ee8e74;
  border: 2px solid #ee8e74;
  background-color: #fff;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .second-section .applySwiper .my-bullet:nth-child(1)::after {
  content: "1";
}

main .second-section .applySwiper .my-bullet:nth-child(2)::after {
  content: "2";
}

main .second-section .applySwiper .my-bullet:nth-child(3)::after {
  content: "3";
}

main .second-section .applySwiper .my-bullet:nth-child(4)::after {
  content: "4";
}

main .second-section .applySwiper .my-bullet:hover::after {
  color: #fff;
  border: 2px solid #ee8e74;
  background-color: #ee8e74;
}

main .second-section .applySwiper .my-bullet-active::after {
  color: #fff;
  border: 2px solid #ee8e74;
  background-color: #ee8e74;
}

main .second-section .applySwiper .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  font-size: 36px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 28%;
  height: 40.06vw;
}

main .second-section .applySwiper .swiper-pagination:hover + .swiper-wrapper .swiper-slide .left-photo {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

main .second-section .applySwiper .rwd-img {
  position: absolute;
  z-index: -1;
  display: none;
}

main .second-section .applySwiper .text-area h3 {
  color: #4f4f4f;
  font-size: 48px;
}

main .second-section .applySwiper .text-area h3 span {
  color: #fe886d;
  font-size: 56px;
  margin-right: 10px;
}

main .second-section .applySwiper .text-area p {
  font-size: 18px;
  margin-top: 50px;
  color: #4f4f4f;
}

main .second-section .applySwiper .text-area button {
  display: none;
}

main .roll {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main .third-section {
  width: 100%;
  height: 100vh;
  background-image: url("/img/04-assistant/loveCat.png");
  position: relative;
}

main .third-section .heart-pic {
  position: relative;
  left: 50%;
  top: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

main .third-section .heart-pic img {
  width: 100%;
  height: 100%;
  width: 41.5vw;
  height: 39.22vw;
}

main .third-section .heart-pic .heart-texts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 47%;
  right: 50%;
  -webkit-transform: translate(56%, 50%);
          transform: translate(56%, 50%);
}

main .third-section .heart-pic .heart-texts .text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #ffffff;
  font-size: 32px;
}

main .third-section .heart-pic .heart-texts .phone-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  display: none;
}

main .third-section .heart-pic .heart-texts .thank-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 64px;
  max-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fe886d;
  border-radius: 40px;
  margin-top: 30px;
  width: 190px;
  max-width: 190px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .third-section .heart-pic .heart-texts .thank-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .third-section .heart-pic .heart-texts .thank-btn .btn {
  border-bottom: 4px solid transparent;
  padding: 0px 5px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

main .third-section .heart-pic .heart-texts .thank-btn:hover .btn {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  border-bottom: 4px solid #fff;
}

main .fourth-section {
  margin-bottom: 240px;
}

main .fourth-section .title-area {
  width: 428px;
  height: 130px;
  margin: auto;
  margin-top: 240px;
  margin-bottom: 34px;
  position: relative;
}

main .fourth-section .title-area .title-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

main .fourth-section .title-area .title-text h1 {
  color: #4f4f4f;
  font-size: 72px;
}

main .fourth-section .shadow {
  width: 18.5%;
  height: 17.3vw;
  background-image: url("/img/first-section/米色背景.jpg");
  border-radius: 30px;
}

main .fourth-section .container140 .swiper-group .diarySwiper {
  margin-top: -14%;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .img {
  width: 100%;
  height: 34.9vw;
  border-radius: 0 20px 20px 0;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text {
  padding: 7.35% 6.1% 0px;
  height: 34.9vw;
  color: #fff;
  background-color: #ffa183;
  border-radius: 20px 0 0 20px;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .sub .sub-title {
  padding: 6px 15.8px;
  font-size: 18px;
  background-color: #ee815b;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .sub .date {
  font-size: 18px;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .title {
  font-size: 48px;
  margin: 10px 0 6.5%;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .text {
  font-size: 18px;
}

main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text img {
  position: absolute;
  bottom: 9%;
  left: 18.7%;
  width: 23.25vw;
  height: 6.7vw;
}

main .fourth-section .container140 .swiper-group .my-arrow2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff7950;
  -webkit-box-shadow: 0 0 15px 0 #ff7950;
          box-shadow: 0 0 15px 0 #ff7950;
  opacity: 0.4;
  position: absolute;
  top: 47.5%;
}

main .fourth-section .container140 .swiper-group .my-arrow2:hover {
  -webkit-box-shadow: 0 0 5px 0 #ff7950;
          box-shadow: 0 0 5px 0 #ff7950;
  opacity: 0.8;
}

main .fourth-section .background {
  margin-top: -8.9%;
}

main .fourth-section .background img:nth-child(1) {
  width: 25.6%;
  height: 10.58vw;
  position: relative;
  z-index: 1;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (max-width: 1501px) {
  main .third-section .heart-pic .heart-texts .text {
    display: none;
  }
  main .third-section .heart-pic .heart-texts .phone-text {
    display: block;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .title {
    font-size: 36px;
    margin: 0 0 20px;
  }
}

@media (max-width: 1401px) {
  main .first-section .background .img {
    width: 87.4vw;
    height: 34.6vw;
  }
  main .first-section .background .img .background-title {
    font-size: 42px;
  }
  main .first-section .background .links {
    top: -57.5px;
    right: 4.8%;
  }
  main .first-section .background .links .link {
    width: 63px;
    height: 63px;
    font-size: 32px;
  }
  main .first-section .background .links .active {
    width: 105px;
    height: 105px;
    font-size: 64px;
  }
  main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area .donate-number p {
    font-size: 14px;
  }
  main .first-section .helpSwiper .swiper-slide .donate-can-card .bg-text .text-area h6 {
    font-size: 20px;
  }
  main .second-section .decorationCat {
    height: 20.2vw;
    left: 50%;
    -webkit-transform: translateX(-103%);
            transform: translateX(-103%);
  }
  main .second-section .applySwiper {
    margin-top: -11.75vw;
  }
  main .second-section .applySwiper .swiper-pagination {
    display: none;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide {
    height: 50.4vw;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .left-photo {
    display: none;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .line {
    display: none;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .rwd-img {
    width: 47.4vw;
    height: 50.4vw;
    display: block;
    border-radius: 20px;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area {
    width: 35.3vw;
    height: 35.3vw;
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area h3 {
    font-size: 24px;
    color: #fe886d;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area h3 span {
    display: none;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area p {
    font-size: 18px;
    margin: 8.6% 0;
    padding: 0 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    display: block;
    width: 166px;
    height: 52px;
    border-radius: 40px;
    background-color: #ff7950;
    -webkit-box-shadow: 0 5px 10px #ff7950;
            box-shadow: 0 5px 10px #ff7950;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area button span {
    color: white;
    border-bottom: 4px solid transparent;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area button:hover span {
    border-bottom: 4px solid #ffffff;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide:nth-child(2n) {
    width: 469px;
    padding: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide:nth-child(2n + 1) {
    display: none;
  }
  main .third-section .heart-pic .heart-texts .phone-text {
    font-size: 24px;
  }
  main .third-section .heart-pic .heart-texts .thank-btn {
    width: 124px;
    height: 44px;
    margin-top: 27px;
  }
  main .third-section .heart-pic .heart-texts .thank-btn .btn {
    font-size: 16px;
  }
  main .fourth-section .title-area {
    width: 300px;
    height: 100px;
    margin-bottom: 20%;
  }
  main .fourth-section .title-area .title-text {
    position: absolute;
    bottom: 0;
    right: -8%;
  }
  main .fourth-section .title-area .title-text h1 {
    font-size: 40px;
  }
  main .fourth-section .shadow {
    width: 54.6vw;
    height: 45vw;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper {
    margin-top: -41.5%;
    width: 100%;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text {
    height: 50vw;
    border-radius: 20px 20px 0 0;
    padding: 9.5% 9.6% 0px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .sub .sub-title {
    padding: 4.6px 9.2px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .title {
    margin: 2px 0 17px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text img {
    width: 36vw;
    height: 10.5vw;
    left: unset;
    bottom: unset;
    right: 6%;
    top: 35.5%;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .img {
    height: 50vw;
    border-radius: 0 0 20px 20px;
  }
  main .fourth-section .container140 .swiper-group .my-arrow2 {
    width: 7.5vw;
    height: 7.5vw;
  }
  main .fourth-section .container140 .swiper-group .my-arrow2::after {
    font-size: 2.5vw;
  }
  main .fourth-section .container140 .swiper-group .arrow2-next {
    right: 0;
  }
  main .fourth-section .container140 .swiper-group .arrow2-prev {
    left: 0;
  }
  main .fourth-section .background img:nth-child(1) {
    width: 39%;
    height: 17.2vw;
  }
}

@media (max-width: 993px) {
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide {
    width: 356px !important;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img {
    padding: 23px 23px 0;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img img {
    width: 310px;
    height: 231px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img .card-shadow {
    border-radius: 0 0 20px 20px;
    padding: 12px 0;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img .card-shadow .shadow-text {
    font-size: 24px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img .card-shadow .shadow-text span {
    font-size: 24px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text {
    margin-top: -23px;
    padding: 43px 26px 30px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area h6 {
    padding: 0 46px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area .donate-btn a {
    width: 165px;
    height: 52px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area .donate-btn a p {
    font-size: 20px;
  }
  main .second-section {
    margin: 200px 0 150px;
  }
  main .second-section .title-area {
    width: 300px;
    height: 100px;
    margin-bottom: 71px;
  }
  main .second-section .title-area .title-img img {
    width: 137px;
    height: 60px;
  }
  main .second-section .title-area .title-text {
    bottom: 22px;
    right: 36px;
  }
  main .second-section .title-area .title-text h1 {
    font-size: 40px;
  }
  main .third-section {
    height: 73vh;
  }
  main .third-section .heart-pic img {
    width: 49.2vw;
    height: 46.5vw;
  }
  main .fourth-section .title-area .title-img img {
    width: 137px;
    height: 60px;
  }
  main .fourth-section .title-area .title-text {
    bottom: 22px;
    right: 36px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 769px) {
  main .first-section .background .img {
    width: 100%;
    height: 40.7vw;
  }
  main .first-section .background .img .background-title {
    padding: 0 14px;
  }
  main .first-section .background .links {
    top: -60px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .rwd-img {
    width: 54.4vw;
    height: 58vw;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area p {
    -webkit-line-clamp: 2;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide .text-area button {
    width: 111px;
    height: 35px;
    font-size: 15px;
  }
  main .second-section .applySwiper .swiper-wrapper .swiper-slide:nth-child(2n) {
    height: 58vw;
  }
  main .third-section .heart-pic .heart-texts .phone-text {
    font-size: 18px;
  }
  main .third-section .heart-pic .heart-texts .thank-btn {
    margin-top: 14px;
  }
  main .third-section .heart-pic .heart-texts .thank-btn .btn {
    font-size: 14px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .text {
    -webkit-line-clamp: 4;
  }
}

@media (max-width: 577px) {
  .container170 {
    padding: 0 40px;
  }
  main .first-section .background .img {
    height: 40.7vw;
  }
  main .first-section .background .links .link {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  main .first-section .background .links .active {
    width: 100px;
    height: 100px;
    font-size: 48px;
  }
  main .first-section .background .img .background-title {
    font-size: 30px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide {
    width: 238px !important;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card {
    border-radius: 20px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img {
    padding: 10px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img img {
    width: 218px;
    height: 145px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img .card-shadow {
    padding: 6px 0;
    width: 92%;
    bottom: 6%;
    border-radius: 0 0 20px 20px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img .card-shadow .shadow-text {
    font-size: 18px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .donate-can-img .card-shadow .shadow-text span {
    font-size: 20px;
    padding: 0 5px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text {
    padding: 10px 10px 20px;
    margin-top: unset;
    border-radius: 0 0 20px 20px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area .donate-number {
    margin-bottom: 8px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area .donate-number p {
    padding: 5px 11px;
    font-size: 12px;
    border: 1px solid;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area .donate-number .fb-icon {
    width: 35px;
    height: 35px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area h6 {
    padding: unset;
    margin-bottom: 8px;
    font-size: 15px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area h6:nth-last-child(1) {
    margin-bottom: 15px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area .donate-btn a {
    width: 111px;
    height: 35px;
  }
  main .first-section .helpSwiper .swiper-wrapper .swiper-slide .donate-can-card .bg-text .text-area .donate-btn a p {
    font-size: 15px;
  }
  main .second-section {
    margin: 85px 0 92px;
  }
  main .second-section .title-area {
    width: 146px;
    height: 45px;
    margin-bottom: 52px;
  }
  main .second-section .title-area .title-img img {
    width: 70px;
    height: 30px;
  }
  main .second-section .title-area .title-text {
    right: 0;
    bottom: 0;
  }
  main .second-section .title-area .title-text h1 {
    font-size: 24px;
  }
  main .second-section .decorationCat {
    width: 26.5vw;
    height: 23vw;
    -webkit-transform: translateX(-103%);
            transform: translateX(-103%);
  }
  main .second-section .applySwiper {
    margin-top: -13.75vw;
  }
  main .third-section .heart-pic img {
    width: 325px;
    height: 307px;
  }
  main .fourth-section .title-area {
    width: 146px;
    height: 45px;
    margin-bottom: 35px;
  }
  main .fourth-section .title-area .title-img img {
    width: 70px;
    height: 31px;
  }
  main .fourth-section .title-area .title-text h1 {
    font-size: 24px;
  }
  main .fourth-section .shadow {
    width: 326px;
    height: 303px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper {
    margin-top: -242px;
    width: 100%;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text {
    padding: 12.3% 14.6% 0px;
    height: 66vw;
    border-radius: 20px 20px 0 0;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .sub .sub-title {
    padding: 4.6px 9.2px;
    font-size: 12px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .sub .date {
    font-size: 12px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .title {
    margin: 2px 0 17px;
    font-size: 20px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .text {
    font-size: 15px;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text img {
    width: 36vw;
    height: 10.5vw;
    left: unset;
    bottom: unset;
    right: 8%;
    top: 28%;
  }
  main .fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .img {
    height: 66vw;
    border-radius: 0 0 20px 20px;
  }
  main .fourth-section .background img:nth-child(1) {
    width: 228px;
    height: 91px;
  }
}
/*# sourceMappingURL=assistant.css.map */