@import "_style_guide.scss";

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	margin: 0;
	font-weight: unset;
	color: unset;
}

a:hover {
	text-decoration: none;
}

.container170 {
	padding: 0 170px;
}

.container140 {
	padding: 0 140px;
}
.mt-200 {
	margin-top: 200px;
}

.max-w {
	max-width: 1920px;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 7.3% 0;
	margin-bottom: 180px;

	.logo {
		width: 511px;
		height: 83.5px;
		background-image: url("/img/logo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.menu {
		font-size: 100px;
		line-height: 50px;
		position: fixed;
		right: 7.3%;
		top: 40px;
		height: 37px;
		z-index: 99;

		.burger {
			width: 90px;
			height: 7px;
			border-radius: 20px;
			background-color: $color-text;

			position: relative;

			&::before,
			&::after {
				content: "";
				width: 90px;
				height: 7px;
				border-radius: 20px;
				background-color: $color-text;
				position: absolute;
				top: 15px;
			}

			&::after {
				top: 30px;
			}
		}
		&:hover .burger,
		&:hover .burger::after,
		&:hover .burger::before {
			background-color: $color-dark-orange;
		}
	}
}

.first-section {
	width: 100%;
	.background {
		.img {
			width: 72%;
			height: 544px;
			background-image: url(/img/04-assistant/blue-wave.png);
			background-repeat: no-repeat;
			.background-title {
				font-size: 96px;
				padding: 0 35px;
				color: $color-btn-text;
				background-color: #86cee8;
				position: absolute;
				top: 16% ;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.links {
			position: absolute;
			top: -82.5px;
			right: 6.8%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.link {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 3px solid $color-light-orange;
				margin-right: 57px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $color-light-orange;
				font-size: 48px;
			}
			.active {
				width: 165px;
				height: 165px;
				font-size: 108px;
			}
		}
	}
	.helpSwiper {
		margin-top: -14.2vw;
		.donate-can-card {
			// width: 462px; 
			background-image: url("/img/first-section/米色背景.jpg");
			border-radius: 40px;
			position: relative;
			.donate-can-img {
				padding: 30px 30px 0;
				position: relative;
				cursor: pointer;

				&:hover .card-shadow {
					display: flex;
				}
				&:hover .donate-img {
					filter: contrast(0.5);
				}
				.card-shadow {
					position: absolute;
					bottom: 0%;
					width: 87%;
					color: $color-btn-text;
					background-color: rgba(252, 161, 131, 0.7);
					font-size: 32px;
					border-radius: 0 0 40px 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 15px 0;
					span {
						font-size: 32px;
						padding: 0 10px;
						background-color: #fd6739;
					}
					display: none;
				}
			}

			.bg-text {
				border-radius: 0 0 40px 40px;
				background-color: #ffa183;
				padding: 54px 30px 20px;
				margin-top: -30px;
				.text-area {
					.donate-number {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 20px;

						p {
							font-size: 18px;
							color: $color-btn-text;
							border-style: solid;
							border-radius: 20px;
							padding: 10px 30px;
							border-color: $color-btn-text;
						}

						.fb-icon {
							width: 44px;
							height: 44px;
							color: $color-btn-text;
							background-color: #6d9ffe;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50%;
						}
					}

					h6 {
						font-size: 24px;
						color: $color-btn-text;
						margin-bottom: 20px;
						margin-left: 54px;
					}

					.donate-btn {
						.btn {
							width: 232px;
							height: 67px;
							background-color: $color-dark-orange;
							border-radius: 40px;
							color: $color-btn-text;
							font-size: 32px;
							font-weight: bold;
							display: flex;
							justify-content: center;
							align-items: center;

							margin: auto;
						}

						&:hover p {
							border-bottom: 4px solid $color-btn-text;
							transition-duration: 0.8s;
						}
					}
				}
			}
		}
	}
}

.second-section {
	margin-top: 250px;
	height: 100vh;
	.title-area {
		width: 428px;
		height: 130px;
		margin: auto;
		position: relative;
		margin-bottom: 7.2%;
		.title-text {
			position: absolute;
			bottom: 0;
			right: 0;
			h1 {
				color: $color-text;
				font-size: 72px;
			}
		}
	}
	.background {
		img:nth-child(1) {
			width: ;
		}
		img:nth-child(2) {
			position: absolute;
			top: -168px;
			left: 0;
		}
		.line{
			width: 150px;
			height: 5px;
			border-radius: 5px;
			background-color: #EE8E74;
			position: absolute;
			top: 50%;
			left: 53%;
		}
	}

	.applySwiper {
		margin-top: -682px;
		margin-left: 31.5%;
		padding-left: 35%;
		height: 800px;
		.my-bullet {
			width: 375px;
			color: white;
			margin-bottom: 42px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			&::after {
				width: 55px;
				height: 55px;
				border-radius: 50%;
				color: #ee8e74;
				border: 2px solid #ee8e74;
				background-color: #fff;
				margin-left: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&:nth-child(1)::after {
				content: "1";

			}
			&:nth-child(2)::after {
				content: "2";
			}
			&:nth-child(3)::after {
				content: "3";
			}
			&:nth-child(4)::after {
				content: "4";
			}
		}
		.my-bullet-active{
			background-color: yellowgreen;
			border-radius: 40px;
		}
		.swiper-pagination {
			display: flex;
			flex-direction: column;
			top: 0;
			font-size: 36px;
			font-weight: bold;
		}

		.text-area{
			h3{
				color: #4F4F4F;
				font-size: 48px;
				span{
					color: #FE886D;
					font-size: 56px;
					margin-right: 10px;
				}
			}
			p{
				font-size: 18px;
				padding:50px 140px 0 0;
				color: #4F4F4F;
			}
		}
	}
}

.roll {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.third-section {
	width: 100%;
	height: 100vh;
	background-image: url("/img/04-assistant/loveCat.png");
	position: relative;

	.thank-card {
		position: relative;

		.heart-img {
			position: absolute;
			top: 130px;
			right: 16%;
		}

		.text-area {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			position: absolute;
			top: 450px;
			right: 25%;

			h5 {
				color: $color-btn-text;
				font-size: 32px;
			}

			.thank-btn {
				margin-top: 40px;
				// margin-left: 50px;

				.btn {
					width: 232px;
					height: 67px;
					// background-color: $color-dark-orange;
					background-color: $color-light-orange;
					border-radius: 40px;
					color: $color-btn-text;
					font-size: 24px;
					font-weight: bold;
					display: flex;
					justify-content: center;
					align-items: center;

					&:hover p {
						border-bottom: 4px solid $color-btn-text;
						transition-duration: 0.8s;
					}
					&:hover {
						box-shadow: 0px 0px 10px 0px $color-dark-orange;
						transition-duration: 0.8s;
					}
				}
			}
		}
	}
}

.fourth-section {
	margin-bottom: 240px;
	.title-area {
		width: 428px;
		height: 130px;
		margin: auto;
		margin-top: 240px;
		margin-bottom: 34px;
		position: relative;
		.title-text {
			position: absolute;
			bottom: 0;
			right: 0;
			h1 {
				color: $color-text;
				font-size: 72px;
			}
		}
	}
	.shadow {
		width: 18.5%;
		height: 333px;
		background-image: url("/img/first-section/米色背景.jpg");
		border-radius: 30px;
	}
	.container140 {
		.swiper-group {
			.background-text {
				margin-top: -218px;
				width: 50%;
				height: 670px;
				background-color: $color-banner-number;
				border-radius: 20px 0 0 20px;
			}
			.diarySwiper {
				margin-top: -670px;
				.swiper-slide {
					width: 50%;
					.img {
						width: 100%;
						height: 670px;
						border-radius: 0 20px 20px 0;
					}
					.diary-text {
						padding: 120px 100px 0;
						color: #fff;
						.sub {
							display: flex;
							justify-content: space-between;
							.sub-title {
								padding: 6px 15.8px;
								font-size: 18px;
								background-color: #ee815b;
							}
							.date {
								font-size: 18px;
							}
						}
						.title {
							font-size: 48px;
							margin: 10px 0 40px;
						}
						.text {
							font-size: 18px;
						}
					}
				}
			}
			.my-arrow2{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background-color: $color-dark-orange;
				box-shadow:0 0 15px 0 $color-dark-orange;
				opacity: 0.4;
				position: absolute;
				top: 45%;
	
				&:hover{
					box-shadow:0 0 5px 0 $color-dark-orange;
					opacity: 0.8;
				}
			}
		}
	}
	.background{
		margin-top: -189px;
		img:nth-child(1){
			position: absolute;
			left: 23.2%;
		}
		img:nth-child(2){
			margin-top: 19px;
			margin-left: calc(100% - 491px);
			position: relative;
			z-index: 1;
		}
	}
}

footer {
	.footer-area {
		margin-top: 200px;
		.footer-img {
			width: 100%;
			height: 42px;
			background-image: url("/img/footer-wave.png");
			background-repeat: no-repeat;
			background-size: cover;
		}

		.container140 {
			width: 100%;
			background-color: #777777;

			.ft-top {
				width: 100%;
				display: flex;
				justify-content: space-between;

				.ft-left {
					// width: 714px;
					padding-top: 80px;

					.text-1 {
						display: flex;
						align-items: center;
						font-size: 20px;
						color: $color-btn-text;

						&:hover {
							text-decoration: underline;
						}
					}

					.text-2 {
						margin: 20px 0;
						display: flex;
						align-items: center;
						font-size: 20px;
						color: $color-btn-text;

						&:hover {
							text-decoration: underline;
						}
					}

					.text-3 {
						display: flex;
						align-items: center;
						font-size: 24px;
						color: $color-btn-text;

						.contact {
							border-radius: 20px;
							background-color: $color-btn-text;
							padding: 0 30px;
							margin-left: 10px;
							margin-right: 70px;

							.ft-input {
								width: 261px;
								margin-left: 10px;
								outline-style: none;
								border: 0px;
								border-radius: 20px;
							}
							.contact-btn {
								padding: 0;
								border-radius: 20px;
								border: none;
								background-color: $color-btn-text;
								outline: 0;
								cursor: pointer;
							}
						}

						.fb-icon {
							width: 44px;
							height: 44px;
							border-radius: 50%;
							background-color: $color-light-orange;
							color: $color-btn-text;
							font-size: 23px;
							line-height: 44px;
							text-align: center;

							&:hover {
								box-shadow: 0px 0px 20px 0px $color-dark-orange;
								transition-duration: 0.8s;
							}
						}
					}
				}

				.ft-mouse {
					margin-top: 70px;
					width: 164px;
					height: 158px;
					border-radius: 50%;
					background-color: $color-text;
					background-image: url("/img/mouse.png");
					background-repeat: no-repeat;
					background-position: 45px 35px;
					display: flex;
					justify-content: center;
					align-items: flex-end;

					span {
						color: $color-btn-text;
						font-size: 15px;
						padding-bottom: 15px;
					}

					&:hover {
						box-shadow: 0px 0px 20px 0px $color-btn-text;
						transition-duration: 0.8s;
					}
				}
			}

			.ft-bot {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-top: 60px;
				padding-bottom: 80px;

				p {
					font-size: 16px;
					color: $color-btn-text;
				}
			}
		}
	}
}

@media(max-width: 576px){
	.first-section {
		.background {
			.img {
				width: 72%;
				height: 40.7vw;
				.background-title {
					font-size: 96px;
					padding: 0 35px;
					position: absolute;
					top: 16% ;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.links {
				top: -82.5px;
				right: 50%;
				transform: translateX(50%);
				.link {
					width: 48px;
					height: 48px;
					margin-right: 38px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $color-light-orange;
					font-size: 24px;
				}
				.active {
					width: 94px;
					height: 94px;
					font-size: 48px;
				}
			}
		}
		.helpSwiper{
			margin-left: unset;
		}
	}
}