@import "_style_guide.scss";
main {
	.first-section {
		width: 100%;
		.background {
			.img {
				width: 74.8vw;
				height: 28.35vw;
				background-image: url(/img/04-assistant/blue-wave.png);
				background-repeat: no-repeat;
				background-size: cover;
				.background-title {
					font-size: 81px;
					padding: 0 35px;
					color: $color-btn-text;
					background-color: #86cee8;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -100%);
				}
			}
			.links {
				position: absolute;
				top: -82.5px;
				right: 6.8%;
				display: flex;
				align-items: center;
				.link {
					width: 100px;
					height: 100px;
					border-radius: 50%;
					border: 3px solid $color-light-orange;
					margin: 0 26px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $color-light-orange;
					font-size: 48px;
					cursor: pointer;
					transition-duration: 1s;
				}
				.active {
					width: 165px;
					height: 165px;
					font-size: 108px;
					transition-duration: 1.5s;
					order: -1;
					cursor: unset;
				}
				
			}
		}
		.helpSwiper {
			margin-top: -13.2vw;
			.swiper-slide {
				width: 462px !important;
				.donate-can-card {
					background-image: url("/img/first-section/米色背景.jpg");
					border-radius: 40px;
					position: relative;
					.donate-can-img {
						padding: 30px 30px 0;
						position: relative;
						cursor: pointer;

						&:hover .card-shadow {
							display: flex;
						}
						&:hover .donate-img {
							filter: contrast(0.5);
						}
						.card-shadow {
							position: absolute;
							bottom: -1%;
							width: 87%;
							color: $color-btn-text;
							background-color: rgba(252, 161, 131, 0.7);
							font-size: 32px;
							border-radius: 0 0 40px 40px;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 15px 0;
							span {
								font-size: 32px;
								padding: 0 10px;
								background-color: #fd6739;
							}
							display: none;
						}
					}

					.bg-text {
						border-radius: 0 0 40px 40px;
						background-color: #ffa183;
						padding: 54px 30px 20px;
						margin-top: -30px;
						.text-area {
							.donate-number {
								display: flex;
								justify-content: space-between;
								align-items: center;
								margin-bottom: 20px;

								p {
									font-size: 18px;
									color: $color-btn-text;
									border-style: solid;
									border-radius: 20px;
									padding: 10px 30px;
									border-color: $color-btn-text;
								}

								.fb-icon {
									width: 44px;
									height: 44px;
									color: $color-btn-text;
									background-color: #6d9ffe;
									display: flex;
									justify-content: center;
									align-items: center;
									border-radius: 50%;
								}
							}

							h6 {
								font-size: 24px;
								color: $color-btn-text;
								margin-bottom: 20px;
								padding: 0 54px;
								&:nth-child(2) {
									font-weight: bolder;
								}
							}

							.donate-btn {
								.btn {
									width: 232px;
									height: 67px;
									background-color: $color-dark-orange;
									border-radius: 40px;
									color: $color-btn-text;
									font-size: 32px;
									font-weight: bold;
									display: flex;
									justify-content: center;
									align-items: center;

									margin: auto;
								}

								&:hover p {
									border-bottom: 4px solid $color-btn-text;
									transition-duration: 0.8s;
								}
							}
						}
					}
				}
			}
		}
	}

	.second-section {
		margin: 250px 0;
		.title-area {
			width: 428px;
			height: 130px;
			margin: auto;
			position: relative;
			margin-bottom: 7.2%;
			.title-text {
				position: absolute;
				bottom: 0;
				right: 0;
				h1 {
					color: $color-text;
					font-size: 72px;
				}
			}
		}
		.decorationCat {
			position: relative;
			z-index: 2;
			&:hover + .applySwiper .swiper-slide .left-photo {
				filter: brightness(0.75);
			}
		}

		.applySwiper {
			margin-top: -232px;
			.swiper-slide {
				width: max-content;
				height: 40.06vw;
				align-items: center;
				position: relative;

				.line {
					width: 11%;
					height: 5px;
					border-radius: 5px;
					background-color: #ee8e74;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: -7%;
				}
				&:nth-child(2n) {
					width: 36.1vw;
					padding-left: 9%;
					margin-right: 8%;
					display: flex;
				}
				.left-photo {
					height: 40.06vw;
					mix-blend-mode: darken;
					&:hover {
						filter: brightness(0.75);
					}
				}
			}

			.my-bullet {
				padding: 1.35vw 0;
				color: white;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				cursor: pointer;
				&:nth-child(5) {
					display: none;
				}

				&::after {
					width: 55px;
					height: 55px;
					border-radius: 50%;
					color: #ee8e74;
					border: 2px solid #ee8e74;
					background-color: #fff;
					margin-left: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&:nth-child(1)::after {
					content: "1";
				}
				&:nth-child(2)::after {
					content: "2";
				}
				&:nth-child(3)::after {
					content: "3";
				}
				&:nth-child(4)::after {
					content: "4";
				}
				&:hover::after {
					color: #fff;
					border: 2px solid #ee8e74;
					background-color: #ee8e74;
				}
			}
			.my-bullet-active {
				&::after {
					color: #fff;
					border: 2px solid #ee8e74;
					background-color: #ee8e74;
				}
			}
			.swiper-pagination {
				display: flex;
				flex-direction: column;
				top: 0;
				font-size: 36px;
				font-weight: bold;
				justify-content: center;
				width: max-content;
				left: 28%;
				height: 40.06vw;
				&:hover + .swiper-wrapper .swiper-slide .left-photo {
					filter: brightness(0.75);
				}
			}

			.rwd-img {
				position: absolute;
				z-index: -1;
				display: none;
			}
			.text-area {
				h3 {
					color: #4f4f4f;
					font-size: 48px;
					span {
						color: #fe886d;
						font-size: 56px;
						margin-right: 10px;
					}
				}
				p {
					font-size: 18px;
					margin-top: 50px;
					color: #4f4f4f;
				}
				button {
					display: none;
				}
			}
		}
	}

	.roll {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	.third-section {
		width: 100%;
		height: 100vh;
		background-image: url("/img/04-assistant/loveCat.png");
		position: relative;
		.heart-pic {
			position: relative;
			left: 50%;
			top: 50%;
			width: max-content;
			height: max-content;
			transform: translate(-20%, -50%);
			img {
				width: 100%;
				height: 100%;
				width: 41.5vw;
				height: 39.22vw;
			}
			.heart-texts {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: absolute;
				bottom: 47%;
				right: 50%;
				transform: translate(56%, 50%);

				.text {
					width: max-content;
					color: $color-btn-text;
					font-size: 32px;
				}
				.phone-text {
					width: max-content;
					color: $color-btn-text;
					font-size: 32px;
					text-align: center;
					display: none;
				}
				.thank-btn {
					width: max-content;
					height: 64px;
					max-height: 64px;
					display: flex;
					align-items: center;
					background-color: $color-light-orange;
					border-radius: 40px;
					margin-top: 30px;
					width: 190px;
					max-width: 190px;
					display: flex;
					justify-content: center;

					&:hover {
						box-shadow: 0px 0px 10px 0px $color-dark-orange;
						transition-duration: 0.8s;
					}

					.btn {
						border-bottom: 4px solid transparent;
						padding: 0px 5px;
						color: $color-btn-text;
						font-size: 24px;
						font-weight: bold;
					}
					&:hover .btn {
						transition-duration: 0.8s;
						border-bottom: 4px solid #fff;
					}
				}
			}
		}
	}

	.fourth-section {
		margin-bottom: 240px;
		.title-area {
			width: 428px;
			height: 130px;
			margin: auto;
			margin-top: 240px;
			margin-bottom: 34px;
			position: relative;
			.title-text {
				position: absolute;
				bottom: 0;
				right: 0;
				h1 {
					color: $color-text;
					font-size: 72px;
				}
			}
		}
		.shadow {
			width: 18.5%;
			height: 17.3vw;
			background-image: url("/img/first-section/米色背景.jpg");
			border-radius: 30px;
		}
		.container140 {
			.swiper-group {
				.diarySwiper {
					margin-top: -14%;
					.swiper-slide {
						width: 50%;
						display: flex;
						.img {
							width: 100%;
							height: 34.9vw;
							border-radius: 0 20px 20px 0;
						}
						.diary-text {
							padding: 7.35% 6.1% 0px;
							height: 34.9vw;
							color: #fff;
							background-color: $color-banner-number;
							border-radius: 20px 0 0 20px;

							.sub {
								display: flex;
								justify-content: space-between;
								.sub-title {
									padding: 6px 15.8px;
									font-size: 18px;
									background-color: #ee815b;
								}
								.date {
									font-size: 18px;
								}
							}

							.title {
								font-size: 48px;
								margin: 10px 0 6.5%;
							}
							.text {
								font-size: 18px;
							}
							img {
								position: absolute;
								bottom: 9%;
								left: 18.7%;
								width: 23.25vw;
								height: 6.7vw;
							}
						}
					}
				}
				.my-arrow2 {
					width: 100px;
					height: 100px;
					border-radius: 50%;
					background-color: $color-dark-orange;
					box-shadow: 0 0 15px 0 $color-dark-orange;
					opacity: 0.4;
					position: absolute;
					top: 47.5%;

					&:hover {
						box-shadow: 0 0 5px 0 $color-dark-orange;
						opacity: 0.8;
					}
				}
			}
		}
		.background {
			margin-top: -8.9%;
			img:nth-child(1) {
				width: 25.6%;
				height: 10.58vw;
				position: relative;
				z-index: 1;
				left: 100%;
				transform: translateX(-100%);
			}
		}
	}
}
@media (max-width: 1501px) {
	main {
		.third-section .heart-pic .heart-texts {
			.text {
				display: none;
			}
			.phone-text {
				display: block;
			}
		}
		.fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text {
			.title {
				font-size: 36px;
				margin: 0 0 20px;
			}
		}
	}
}
@media (max-width: 1401px) {
	main {
		.first-section {
			.background {
				.img {
					width: 87.4vw;
					height: 34.6vw;
					.background-title {
						font-size: 42px;
					}
				}
				.links {
					top: -57.5px;
					right: 4.8%;
					.link {
						width: 63px;
						height: 63px;
						font-size: 32px;
					}
					.active {
						width: 105px;
						height: 105px;
						font-size: 64px;
					}
				}
			}
			.helpSwiper {
				.swiper-slide {
					.donate-can-card {
						.bg-text {
							.text-area {
								.donate-number {
									p {
										font-size: 14px;
									}
								}
								h6 {
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
		.second-section {
			.decorationCat {
				height: 20.2vw;
				left: 50%;
				transform: translateX(-103%);
			}
			.applySwiper {
				margin-top: -11.75vw;
				.swiper-pagination {
					display: none;
				}
				.swiper-wrapper {
					.swiper-slide {
						height: 50.4vw;

						.left-photo {
							display: none;
						}
						.line {
							display: none;
						}
						.rwd-img {
							width: 47.4vw;
							height: 50.4vw;
							display: block;
							border-radius: 20px;
						}
						.text-area {
							width: 35.3vw;
							height: 35.3vw;
							background-color: rgba(247, 247, 247, 0.8);
							border-radius: 20px;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;
							h3 {
								font-size: 24px;
								color: #fe886d;
								span {
									display: none;
								}
							}
							p {
								font-size: 18px;
								margin: 8.6% 0;
								padding: 0 30px;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 5;
								-webkit-box-orient: vertical;
							}
							button {
								margin: 0;
								padding: 0;
								border: 1px solid transparent;
								outline: none;
								display: block;
								width: 166px;
								height: 52px;
								border-radius: 40px;
								background-color: #ff7950;
								box-shadow: 0 5px 10px #ff7950;
								span {
									color: white;
									border-bottom: 4px solid transparent;
								}
								&:hover span {
									border-bottom: 4px solid $color-btn-text;
									transition-duration: 0.8s;
								}
							}
						}
						&:nth-child(2n) {
							width: 469px;
							padding: unset;
							justify-content: center;
						}
						&:nth-child(2n + 1) {
							display: none;
						}
					}
				}
			}
		}
		.third-section {
			.heart-pic {
				.heart-texts {
					.phone-text {
						font-size: 24px;
					}
					.thank-btn {
						width: 124px;
						height: 44px;
						margin-top: 27px;
						.btn {
							font-size: 16px;
						}
					}
				}
			}
		}
		.fourth-section {
			.title-area {
				width: 300px;
				height: 100px;
				margin-bottom: 20%;
				.title-text {
					position: absolute;
					bottom: 0;
					right: -8%;
					h1 {
						font-size: 40px;
					}
				}
			}
			.shadow {
				width: 54.6vw;
				height: 45vw;
			}
			.container140 {
				.swiper-group {
					.diarySwiper {
						margin-top: -41.5%;
						width: 100%;
						.swiper-slide {
							flex-direction: column;
							.diary-text {
								height: 50vw;
								border-radius: 20px 20px 0 0;
								padding: 9.5% 9.6% 0px;
								.sub {
									.sub-title {
										padding: 4.6px 9.2px;
									}
								}
								.title {
									margin: 2px 0 17px;
								}
								img {
									width: 36vw;
									height: 10.5vw;
									left: unset;
									bottom: unset;
									right: 6%;
									top: 35.5%;
								}
							}
							.img {
								height: 50vw;
								border-radius: 0 0 20px 20px;
							}
						}
					}
					.my-arrow2 {
						width: 7.5vw;
						height: 7.5vw;
						&::after {
							font-size: 2.5vw;
						}
					}
					.arrow2-next {
						right: 0;
					}
					.arrow2-prev {
						left: 0;
					}
				}
			}
			.background {
				img:nth-child(1) {
					width: 39%;
					height: 17.2vw;
				}
			}
		}
	}
}

@media (max-width: 993px) {
	main {
		.first-section {
			.helpSwiper {
				.swiper-wrapper {
					.swiper-slide {
						width: 356px !important;
						.donate-can-card {
							.donate-can-img {
								padding: 23px 23px 0;
								img {
									width: 310px;
									height: 231px;
								}
								.card-shadow {
									border-radius: 0 0 20px 20px;
									padding: 12px 0;

									.shadow-text {
										font-size: 24px;
										span {
											font-size: 24px;
										}
									}
								}
							}
							.bg-text {
								margin-top: -23px;
								padding: 43px 26px 30px;
								.text-area {
									h6 {
										padding: 0 46px;
									}
									.donate-btn {
										a {
											width: 165px;
											height: 52px;
											p {
												font-size: 20px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.second-section {
			margin: 200px 0 150px;
			.title-area {
				width: 300px;
				height: 100px;
				margin-bottom: 71px;
				.title-img {
					img {
						width: 137px;
						height: 60px;
					}
				}
				.title-text {
					bottom: 22px;
					right: 36px;
					h1 {
						font-size: 40px;
					}
				}
			}
		}

		.third-section {
			height: 73vh;
			.heart-pic {
				img {
					width: 49.2vw;
					height: 46.5vw;
				}
			}
		}
		.fourth-section {
			.title-area {
				.title-img img {
					width: 137px;
					height: 60px;
				}
				.title-text {
					bottom: 22px;
					right: 36px;
				}
			}

			.container140 .swiper-group {
				.diarySwiper .swiper-slide .diary-text .text {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
}
@media (max-width: 769px) {
	main {
		.first-section {
			.background {
				.img {
					width: 100%;
					height: 40.7vw;
					.background-title {
						padding: 0 14px;
					}
				}
				.links {
					top: -60px;
					right: 50%;
					transform: translateX(50%);
				}
			}
		}

		.second-section {
			.applySwiper .swiper-wrapper .swiper-slide {
				.rwd-img {
					width: 54.4vw;
					height: 58vw;
				}
				.text-area {
					p {
						-webkit-line-clamp: 2;
					}
					button {
						width: 111px;
						height: 35px;
						font-size: 15px;
					}
				}
				&:nth-child(2n) {
					height: 58vw;
				}
			}
		}

		.third-section {
			.heart-pic {
				.heart-texts {
					.phone-text {
						font-size: 18px;
					}
					.thank-btn {
						margin-top: 14px;
						.btn {
							font-size: 14px;
						}
					}
				}
			}
		}

		.fourth-section .container140 .swiper-group .diarySwiper .swiper-slide .diary-text .text {
			-webkit-line-clamp: 4;
		}
	}
}
@media (max-width: 577px) {
	.container170 {
		padding: 0 40px;
	}
	main {
		.first-section {
			.background {
				.img {
					height: 40.7vw;
				}
				.links {
					.link {
						width: 50px;
						height: 50px;
						font-size: 20px;
					}
					.active {
						width: 100px;
						height: 100px;
						font-size: 48px;
					}
				}
				.img {
					.background-title {
						font-size: 30px;
					}
				}
			}
			.helpSwiper {
				.swiper-wrapper {
					.swiper-slide {
						width: 238px !important;
						.donate-can-card {
							border-radius: 20px;
							.donate-can-img {
								padding: 10px;
								img {
									width: 218px;
									height: 145px;
								}
								.card-shadow {
									padding: 6px 0;
									width: 92%;
									bottom: 6%;
									border-radius: 0 0 20px 20px;
									.shadow-text {
										font-size: 18px;
										span {
											font-size: 20px;
											padding: 0 5px;
										}
									}
								}
							}
							.bg-text {
								padding: 10px 10px 20px;
								margin-top: unset;
								border-radius: 0 0 20px 20px;
								.text-area {
									.donate-number {
										margin-bottom: 8px;
										p {
											padding: 5px 11px;
											font-size: 12px;
											border: 1px solid;
										}
										.fb-icon {
											width: 35px;
											height: 35px;
										}
									}
									h6 {
										padding: unset;
										margin-bottom: 8px;
										font-size: 15px;
										&:nth-last-child(1) {
											margin-bottom: 15px;
										}
									}
									.donate-btn {
										a {
											width: 111px;
											height: 35px;
											p {
												font-size: 15px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.second-section {
			margin: 85px 0 92px;
			.title-area {
				width: 146px;
				height: 45px;
				margin-bottom: 52px;
				.title-img img {
					width: 70px;
					height: 30px;
				}
				.title-text {
					right: 0;
					bottom: 0;
					h1 {
						font-size: 24px;
					}
				}
			}
			.decorationCat {
				width: 26.5vw;
				height: 23vw;
				transform: translateX(-103%);
			}
			.applySwiper {
				margin-top: -13.75vw;
			}
		}
		.third-section {
			.heart-pic {
				img {
					width: 325px;
					height: 307px;
				}
			}
		}
		.fourth-section {
			.title-area {
				width: 146px;
				height: 45px;
				margin-bottom: 35px;
				.title-img {
					img {
						width: 70px;
						height: 31px;
					}
				}
				.title-text {
					h1 {
						font-size: 24px;
					}
				}
			}
			.shadow {
				width: 326px;
				height: 303px;
			}
			.container140 {
				.swiper-group {
					.diarySwiper {
						margin-top: -242px;
						width: 100%;
						.swiper-slide {
							flex-direction: column;
							.diary-text {
								padding: 12.3% 14.6% 0px;
								height: 66vw;
								border-radius: 20px 20px 0 0;
								.sub {
									.sub-title {
										padding: 4.6px 9.2px;
										font-size: 12px;
									}
									.date {
										font-size: 12px;
									}
								}
								.title {
									margin: 2px 0 17px;
									font-size: 20px;
								}
								.text {
									font-size: 15px;
								}
								img {
									width: 36vw;
									height: 10.5vw;
									left: unset;
									bottom: unset;
									right: 8%;
									top: 28%;
								}
							}
							.img {
								height: 66vw;
								border-radius: 0 0 20px 20px;
							}
						}
					}
				}
			}
			.background {
				img:nth-child(1) {
					width: 228px;
					height: 91px;
				}
			}
		}
	}
}
