@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 30000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  font-weight: unset;
  color: unset;
}

a:hover {
  text-decoration: none;
}

.container170 {
  padding: 0 170px;
}

.container140 {
  padding: 0 140px;
}

.max-w {
  max-width: 1920px;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 7.3% 0;
  margin-bottom: 180px;
}

.nav .logo {
  width: 511px;
  height: 83.5px;
  background-image: url("/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav .menu {
  font-size: 100px;
  line-height: 50px;
  position: fixed;
  right: 7.3%;
  top: 40px;
  height: 37px;
  z-index: 99;
}

.nav .menu .burger {
  width: 90px;
  height: 7px;
  border-radius: 20px;
  background-color: #4f4f4f;
  position: relative;
}

.nav .menu .burger::before, .nav .menu .burger::after {
  content: "";
  width: 90px;
  height: 7px;
  border-radius: 20px;
  background-color: #4f4f4f;
  position: absolute;
  top: 15px;
}

.nav .menu .burger::after {
  top: 30px;
}

.nav .menu:hover .burger,
.nav .menu:hover .burger::after,
.nav .menu:hover .burger::before {
  background-color: #ff7950;
}

.first-section {
  width: 100%;
}

.first-section .background .img {
  width: 72%;
  height: 544px;
  background-image: url(/img/04-assistant/blue-wave.png);
  background-repeat: no-repeat;
}

.first-section .background .img .background-title {
  font-size: 96px;
  padding: 0 35px;
  color: #fff;
  background-color: #86cee8;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.first-section .background .links {
  position: absolute;
  top: -82.5px;
  right: 6.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section .background .links .link {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fe886d;
  margin-right: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fe886d;
  font-size: 48px;
}

.first-section .background .links .link-1 {
  width: 165px;
  height: 165px;
  font-size: 108px;
}

.first-section .helpSwiper {
  margin-top: -139px;
  margin-left: 13.5%;
  background-color: antiquewhite;
}

.first-section .helpSwiper .can-slide {
  margin: 0 3.5%;
}

.first-section .helpSwiper .donate-can-card {
  width: 462px;
  background-image: url("/img/first-section/米色背景.jpg");
  border-radius: 40px;
}

.first-section .helpSwiper .donate-can-card .donate-can-img {
  padding: 30px 30px 0;
  position: relative;
}

.first-section .helpSwiper .donate-can-card .donate-can-img .card-shadow {
  position: absolute;
  bottom: 0%;
  color: #ffffff;
  background-color: rgba(252, 161, 131, 0.7);
  font-size: 32px;
  border-radius: 0 0 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 100px;
}

.first-section .helpSwiper .donate-can-card .donate-can-img .card-shadow span {
  font-size: 32px;
  padding: 0 3px;
  background-color: #fd6739;
}

.first-section .helpSwiper .donate-can-card .bg-text {
  border-radius: 0 0 40px 40px;
  background-color: #ffa183;
  padding: 30px;
}

.first-section .helpSwiper .donate-can-card .bg-text .text-area .donate-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.first-section .helpSwiper .donate-can-card .bg-text .text-area .donate-number p {
  font-size: 18px;
  color: #ffffff;
  border-style: solid;
  border-radius: 20px;
  padding: 10px 30px;
  border-color: #ffffff;
}

.first-section .helpSwiper .donate-can-card .bg-text .text-area .donate-number .fb-icon {
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: #6d9ffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.first-section .helpSwiper .donate-can-card .bg-text .text-area h6 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 54px;
}

.first-section .helpSwiper .donate-can-card .bg-text .text-area .donate-btn .btn {
  width: 232px;
  height: 67px;
  background-color: #ff7950;
  border-radius: 40px;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.second-section {
  margin-top: 250px;
}

.second-section .title-area {
  width: 428px;
  height: 130px;
  margin: auto;
  position: relative;
}

.second-section .title-area .title-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.second-section .title-area .title-text h1 {
  color: #4f4f4f;
  font-size: 72px;
}
/*# sourceMappingURL=assistant.css.map */