@import "_style_guide.scss";


h1 {
    font-weight: bold;
}




.first-section {
    position: relative;

    .title-area {
        width: 428px;
        height: 130px;
        margin: auto;
        position: relative;

        .title-text {
            position: absolute;
            bottom: 0;
            right: 0;
            h1 {
                color: $color-text;
                font-size: 72px;
            }
        }
    }

    .background {
        width: 100%;
        max-width: 1920px;

        position: relative;
        img:nth-child(1) {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 3;
        }
        img:nth-child(2) {
            position: absolute;
            right: 0;
            top: 37px;
            z-index: 2;
        }
        img:nth-child(3) {
            position: absolute;
            left: 17%;
            top: 25px;
        }
    }
    .swiper-group {
        display: flex;

        .btns-area {
            height: 752px;
            background-color: $color-banner-number;
            margin-top: 212px;
            border-radius: 0 0 40px 40px;
            display: flex;
            flex-direction: column;
            padding: 0 3.75%;
            .btns {
                width: 14.2vw;
                margin-top: 50px;
                height: 101px;
                position: relative;
                text-align: center;
                line-height: 101px;
                background-color: $color-dark-orange;
                border-radius: 30px;

                &:nth-child(1) {
                    margin-top: 90px;
                }
                .style-select-title1 {
                    font-size: 36px;
                    color: $color-btn-text;
                    padding: 28px 0;
                    border-radius: 30px;
                    i {
                        margin-left: 9px;
                    }
                }
                ul {
                    width: 100%;
                    background-color: $color-dark-orange;
                    position: absolute;
                    top: 80px;
                    padding-top: 30px;
                    border-radius: 0 0 30px 30px;
                    display: none;
                    li {
                        width: 100%;
                        font-size: 36px;
                        color: #fff;
                        z-index: 1;
                        position: relative;
                        background-color: $color-dark-orange;
                        &:nth-last-child(1){
                            border-radius: 0 0 30px 30px;
                        }
                        &:hover {
                            background-color: $color-banner-number;
                            border-radius: unset;
                        }
                        &:hover:nth-last-child(1) {
                            border-radius: 0 0 30px 30px;
                        }
                    }
                }
            }
        }
        .catSwiper {
            width: 1400px;
            height: 664px;
            transform: translateY(45%);
            margin-left: 3.12%;
            .card-img {
                position: relative;
                &:hover .play {
                    display: block;
                }
                &:hover .img {
                    filter: contrast(0.5);
                }
                .img {
                    width: 400px;
                    height: 300px;
                    border-radius: 40px;
                }
                .play {
                    padding: 3px;
                    font-size: 100px;
                    color: $color-btn-text;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: none;
                }
                .img-shadow {
                    width: 400px;
                    height: 300px;
                    border-radius: 40px;
                    background-image: url("/img/first-section/米色背景.jpg");
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    z-index: -1;
                }
            }
            .card-major {
                width: 100%;
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                div:nth-child(1) {
                    width: 136px;
                    height: 48px;
                    font-size: 18px;
                    border: 2px solid #f2a589;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .fb-icon {
                    width: 44px;
                    height: 44px;
                    color: $color-btn-text;
                    background-color: #6d9ffe;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
            .card-text {
                margin: 20px 0 28px 62px;
                font-size: 24px;
                line-height: 42px;
                .card-item {
                    color: $color-banner-gray;
                }
                .card-item-vlaue {
                    color: $color-text;
                }
                .card-slash {
                    margin: 0 11px;
                    color: #ee8e74;
                }
            }
            .btn {
                margin: auto;
                width: 232px;
                height: 67px;
                background-color: $color-dark-orange;
                border-radius: 40px;
                color: $color-btn-text;
                font-size: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.adopt-img-area {
    width: 100%;
    padding: 0 51px;
    margin: 250px 0;

    .adopt-img {
        width: 100%;
        height: 135px;
        background-image: url("/img/03-adoptCat/replace.png");
    }
}

.second-section {
    .title-area {
        width: 428px;
        height: 130px;
        margin: auto;
        position: relative;

        .title-text {
            position: absolute;
            bottom: 0;
            right: 0;
            h1 {
                color: $color-text;
                font-size: 72px;
            }
        }
    }

    .text-area {
        width: 76%;
        margin: auto;
        color: $color-banner-gray;
        margin-top: 106px;
        margin-bottom: 135px;

        h3 {
            font-size: 48px;
            line-height: 70px;

            span {
                font-size: 48px;
                background-color: $color-dark-orange;
            }
        }
    }

    .anyang-img-area {
        width: 100%;
        height: 1750px;

        .anyang-img {
            height: 1750px;
            background-image: url("/img/03-adoptCat/girl.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            position: relative;

            .paralysis-cat-1 {
                // width: 1027px;
                // height: 727px;
                width: 53.5%;
                border-radius: 30px;
                position: absolute;
                left: -1%;
                top: 8%;
            }

            .paralysis-cat-2 {
                width: 35%;
                // height: 676px;
                border-radius: 30px;
                position: absolute;
                right: 1%;
                top: 31%;
            }
        }
    }

    .swiper-father {
        position: relative;

        .line {
            width: calc(100% - 220px);
            height: 2px;
            background-color: $color-banner-number;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 110px;
        }

        .my-arrow1 {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $color-dark-orange;
            box-shadow: 0 0 15px 0 $color-dark-orange;
            opacity: 0.4;
            position: absolute;
            top: 45%;

            &:hover {
                box-shadow: 0 0 5px 0 $color-dark-orange;
                opacity: 0.8;
            }
        }

        .donateSwiper {
            margin: 0 140px;
            height: 680px;
            .swiper-slide {
                // width: 821px;
                height: 340px;
                padding: 40px 0;
                display: flex;
                justify-content: center;
                .donate-card {
                    display: flex;
                    justify-content: center;
                    .card-img {
                        width: 260px;
                        height: 260px;
                        border-radius: 50%;
                        margin-right: 40px;
                        position: relative;

                        &:hover .card-shadow {
                            display: flex;
                        }

                        &:hover .donate-img {
                            filter: contrast(0.5);
                        }

                        .donate-img {
                            width: 260px;
                            height: 260px;
                            border-radius: 50%;
                        }

                        .card-shadow {
                            width: 260px;
                            height: 260px;
                            border-radius: 50%;

                            position: absolute;
                            top: 0;
                            left: 0;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            display: none;

                            .play {
                                padding: 3px;
                                font-size: 50px;
                                margin-bottom: 20px;
                                color: $color-btn-text;
                            }

                            .shadow-text {
                                width: 177px;
                                height: 43px;
                                border-radius: 20px;
                                padding: 5px 10px;
                                font-size: 24px;
                                text-align: center;
                                line-height: 34px;
                                color: $color-btn-text;
                                background-color: $color-banner-gray;

                                span {
                                    color: $color-dark-orange;
                                }
                            }
                        }
                    }

                    .donate-area {
                        .donate-number {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            p {
                                font-size: 18px;
                                color: $color-banner-gray;
                                border-style: solid;
                                border-radius: 20px;
                                padding: 10px 10px;
                                border-color: #f2a589;
                            }

                            .fb-icon {
                                width: 44px;
                                height: 44px;
                                color: $color-btn-text;
                                background-color: #6d9ffe;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                            }
                        }

                        .donate-title {
                            margin-top: 20px;
                            margin-bottom: 10px;
                            margin-left: 20px;
                            h6 {
                                color: $color-banner-gray;
                                font-size: 24px;
                                font-weight: bold;
                            }
                        }

                        .donate-text {
                            margin-left: 20px;
                            h6 {
                                font-size: 24px;
                                color: $color-text;
                            }
                        }

                        .donate-btn {
                            margin-left: 20px;
                            margin-top: 60px;

                            .btn {
                                width: 232px;
                                height: 67px;
                                background-color: $color-dark-orange;
                                border-radius: 40px;
                                color: $color-btn-text;
                                font-size: 32px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.third-section {
    margin-bottom: 240px;
    .title-area {
        width: 428px;
        height: 130px;
        margin: auto;
        margin-top: 240px;
        margin-bottom: 34px;
        position: relative;
        .title-text {
            position: absolute;
            bottom: 0;
            right: 0;
            h1 {
                color: $color-text;
                font-size: 72px;
            }
        }
    }
    .container140 {
        .swiper-group {
            .my-arrow2 {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                position: absolute;
                top: 42px;
                background-color: $color-dark-orange;
                box-shadow: 0 0 15px 0 $color-dark-orange;
                &::after {
                    font-size: 12px;
                }
                &:hover {
                    box-shadow: 0 0 5px 0 $color-dark-orange;
                }
            }
            .arrow2-next {
                right: 7.3%;
            }
            .arrow2-prev {
                left: 85.5%;
            }
            .background {
                width: calc(100% - 140px);
                margin-top: -53px;
                display: flex;
                position: absolute;
                .shadow {
                    width: 43.5%;
                    height: 547px;
                    background-image: url("/img/first-section/米色背景.jpg");
                    border-radius: 30px;
                    z-index: -1;
                }
                .background-text {
                    margin-left: 5.5%;
                    width: 43.2%;
                    height: 577px;
                    background-color: $color-banner-number;
                    border-radius: 30px;
                    z-index: -1;
                }
            }
            .diarySwiper {
                margin-left: 80px;
                margin-top: 27px;
                .swiper-slide {
                    width: 47.5%;
                    &:nth-child(2n) {
                        margin-left: 10.5%;
                    }
                    .img {
                        width: 100%;
                        height: 493px;
                        border-radius: 30px;
                    }
                    .diary-text {
                        margin-top: 38px;
                        width: 73%;
                        color: #fff;
                        .sub {
                            display: flex;
                            justify-content: space-between;
                            .sub-title {
                                padding: 0 6.5px;
                                font-size: 24px;
                                background-color: #ee815b;
                            }
                            .date {
                                font-size: 20px;
                            }
                        }
                        .title {
                            font-size: 48px;
                            margin: 3px 0 40px;
                        }
                        .text {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 1200px) {
    .first-section {
        
    }
}




