* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

// color
$color-banner-gray: #707070;
$color-banner-number: #ffa183;
$color-light-orange: #fe886d;
$color-dark-orange: #ff7950;

$color-text: #4f4f4f;
$color-btn-text: #ffffff;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    font-weight: unset;
}
h1 {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.container170 {
    padding: 0 170px;
}

.container140 {
    padding: 0 140px;
}

nav {
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 7.3% 0;

        .logo {
            width: 511px;
            height: 83.5px;
            background-image: url("/img/logo.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .menu {
            font-size: 100px;
            line-height: 50px;
            position: fixed;
            right: 7.3%;
            top: 40px;
            height: 37px;
            z-index: 99;

            .burger {
                width: 90px;
                height: 7px;
                border-radius: 20px;
                background-color: $color-text;

                position: relative;

                &::before,
                &::after {
                    content: "";
                    width: 90px;
                    height: 7px;
                    border-radius: 20px;
                    background-color: $color-text;
                    position: absolute;
                    top: 15px;
                }

                &::after {
                    top: 30px;
                }
            }
            &:hover .burger,
            &:hover .burger::after,
            &:hover .burger::before {
                background-color: $color-dark-orange;
            }
        }
    }
}
.first-section {
    position: relative;
    .mt-200 {
        margin-top: 200px !important;
    }
    .title-area {
        width: 428px;
        height: 130px;
        margin: auto;
        position: relative;

        .title-text {
            position: absolute;
            bottom: 0;
            right: 0;
            h1 {
                color: $color-text;
                font-size: 72px;
            }
        }
    }

    .background {
        width: 100%;
        max-width: 1920px;

        position: relative;
        img:nth-child(1) {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 3;
        }
        img:nth-child(2) {
            position: absolute;
            right: 0;
            top: 37px;
            z-index: 2;
        }
        img:nth-child(3) {
            position: absolute;
            left: 17%;
            top: 25px;
        }
    }
    .swiper-group {
        display: flex;

        .buttons {
            width: 21%;
            height: 752px;
            background-color: #ffa183;
            margin-top: 212px;
            border-radius: 0 0 40px 40px;
            display: flex;
            flex-direction: column;
            .dropdown {
                position: relative;
                display: inline-block;
                margin-left: 60px;

                .btn {
                    width: 73%;
                    height: 101px;
                    border-radius: 30px;
                    background-color: #ff7950;
                    font-size: 36px;
                    color: #ffffff;
                    cursor: pointer;
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #ff7950;
                    min-width: 73%;
                    z-index: 1;
                    border-radius: 0 0 30px 30px;
                }
                .dropdown-content a {
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    color: #ffffff;
                    &:hover {
                        background-color: #ffa183;
                        border-radius: 0 0 30px 30px;
                    }
                }
            }

            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {
                display: block;
            }

            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }
        }
        .mySwiper {
            width: 1400px;
            height: 664px;
            transform: translateY(45%);
            .card-img {
                .img {
                    width: 400px;
                    height: 300px;
                    border-radius: 40px;
                }
                .img-shadow {
                    width: 400px;
                    height: 300px;
                    border-radius: 40px;
                    background-image: url("/img/first-section/米色背景.jpg");
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    z-index: -1;
                }
            }
            .card-major {
                width: 100%;
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                div:nth-child(1) {
                    width: 136px;
                    height: 48px;
                    font-size: 18px;
                    border: 2px solid #f2a589;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .fb-icon {
                    width: 44px;
                    height: 44px;
                    color: #ffffff;
                    background-color: #6d9ffe;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
            .card-text {
                margin: 20px 0 28px 62px;
                font-size: 24px;
                line-height: 42px;
                .card-item {
                    color: #707070;
                }
                .card-item-vlaue {
                    color: #4f4f4f;
                }
                .card-slash {
                    margin: 0 11px;
                    color: #ee8e74;
                }
            }
            .btn {
                margin: auto;
                width: 232px;
                height: 67px;
                background-color: $color-dark-orange;
                border-radius: 40px;
                color: #ffffff;
                font-size: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
