@charset "UTF-8";
.nav {
  position: absolute;
}

main .banner {
  background-image: url("/img/banner.png");
  width: 100%;
  height: 1268px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 303px;
}

main .banner .container170 span {
  font-size: 32px;
  color: #707070;
}

main .banner .container170 .mid {
  margin: -12px 0 8px;
}

main .banner .container170 .mid .area-top,
main .banner .container170 .mid .area-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .banner .container170 .mid .area-top h1,
main .banner .container170 .mid .area-bot h1 {
  font-size: 120px;
  color: #ffa183;
  margin-right: 10px;
}

main .banner .container170 .mid .area-top h3,
main .banner .container170 .mid .area-bot h3 {
  font-size: 48px;
  color: #707070;
  margin-bottom: 16px;
}

main .banner .container170 .mid div:nth-child(2) {
  margin-left: 64px;
}

main .banner .container170 .bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .banner .container170 .bot h1 {
  font-size: 168px;
  color: #fe886d;
  margin: 0 10px;
  line-height: 190px;
}

main .banner .container170 .bot h2 {
  margin-top: 80px;
  font-size: 64px;
  color: #4f4f4f;
}

main .banner .container170 .banner-btn {
  width: 387px;
  height: 116px;
  background-color: #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
  cursor: pointer;
}

main .banner .container170 .banner-btn p {
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .banner .container170 .banner-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .banner .container170 .banner-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .banner .grass-area {
  width: 100%;
  position: relative;
  margin-top: 230px;
}

main .banner .grass-area .scroll-line {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  top: -3.75vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 18px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner .grass-area .scroll-line::after {
  content: "";
  width: 1px;
  height: 100px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 80px;
}

main .banner .grass-area .grass-1 {
  width: 100%;
  height: 190px;
  z-index: 1;
}

main .banner .grass-area .grass-2 {
  width: 22.6%;
  height: 182px;
  position: absolute;
  right: 7.3%;
  top: 52.9%;
  z-index: 2;
}

main .first-section {
  margin-top: 234px;
  width: 100%;
  height: auto;
}

main .first-section .title-area {
  width: 428px;
  height: 130px;
  margin: auto;
  position: relative;
}

main .first-section .title-area .title-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

main .first-section .title-area .title-text h1 {
  color: #4f4f4f;
  font-size: 72px;
}

main .first-section .container170 {
  margin-top: 100px;
  margin-bottom: 230px;
}

main .first-section .container170 .about-us-swiper-area .swiper-container {
  width: 41.25vw;
  height: 35.2vw;
}

main .first-section .container170 .about-us-swiper-area .swiper-container .deco-line1 {
  position: absolute;
  bottom: -29px;
  left: -29px;
}

main .first-section .container170 .about-us-swiper-area .about-img {
  height: 35.2vw;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

main .first-section .container170 .about-us-swiper-area .about-img-1 {
  background-image: url("/img/first-section/cat-1.png");
}

main .first-section .container170 .about-us-swiper-area .swiper-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  padding-top: 50px;
  margin-left: -72px;
}

main .first-section .container170 .about-us-swiper-area .swiper-point .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  opacity: 1;
}

main .first-section .container170 .about-us-swiper-area .swiper-point .swiper-pagination-bullet-active {
  background-color: #fe886d;
}

main .first-section .container170 .about-us-swiper-area .about-shadow {
  width: 36.1vw;
  height: 30.31vw;
  border-radius: 40px;
  background-image: url("/img/first-section/米色背景.jpg");
  margin-top: -28.1vw;
  margin-left: -5.8vw;
  z-index: -1;
}

main .first-section .container170 .about-us {
  margin-top: 6%;
  padding-left: 5.7%;
}

main .first-section .container170 .about-us h1 {
  font-size: 48px;
  color: #fe886d;
}

main .first-section .container170 .about-us span {
  font-size: 18px;
  color: #4f4f4f;
}

main .first-section .container170 .about-us .row {
  margin: 0;
}

main .first-section .container170 .about-us .top {
  margin-bottom: 10%;
}

main .first-section .container170 .about-us .bot {
  margin-bottom: 16%;
}

main .first-section .container170 .about-us p {
  font-size: 22px;
  color: #ffa183;
}

main .first-section .container170 .about-us .about-btn {
  margin-top: 3%;
  width: 44.25%;
  height: 14.5%;
  background-color: #ff7950;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
}

main .first-section .container170 .about-us .about-btn p {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .first-section .container170 .about-us .about-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .first-section .container170 .about-us .about-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .first-section .container140 .numerical-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .first-section .container140 .numerical-value .icon {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #fe886d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .first-section .container140 .numerical-value .icon i {
  font-size: 60px;
  color: #ffffff;
}

main .first-section .container140 .numerical-value .text h3 {
  font-size: 32px;
  color: #707070;
  margin-left: 20px;
  font-weight: bold;
}

main .first-section .container140 .numerical-value .text h1 {
  font-size: 96px;
  color: #4f4f4f;
  margin-left: 10px;
}

main .second-section {
  margin-top: 231px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .second-section .grass-3 {
  position: absolute;
  top: -132px;
  left: 0;
  height: 133px;
  width: 56.3%;
}

main .second-section .cat {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/img/second-section/cat-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main .second-section .cat:nth-child(3) {
  background-image: url("/img/second-section/cat-3.png");
}

main .second-section .cat .imgs {
  width: 100%;
  height: 40.4vw;
  position: relative;
}

main .second-section .cat .imgs .heart-1 {
  position: absolute;
  width: 47px;
  height: 47px;
  right: 14.3%;
  bottom: 29.6%;
}

main .second-section .cat .imgs .heart-2 {
  position: absolute;
  width: 90px;
  height: 90px;
  right: 7%;
  bottom: 36%;
}

main .second-section .cat .text-contain {
  position: absolute;
  bottom: -304px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 40px;
  background-color: #ff7950;
  width: 85.75%;
  padding: 0 11.5% 5.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .second-section .cat .text-contain:nth-child(1) {
  background-color: #fe886d;
}

main .second-section .cat .text-contain .text-area h3 {
  font-size: 48px;
  color: #ffffff;
  margin-top: 13.4%;
  margin-bottom: 6.7%;
}

main .second-section .cat .text-contain .text-area p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 6.7%;
}

main .second-section .cat .text-contain .cat-btn {
  width: 78%;
  height: 100px;
  background-color: #f2a589;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px 0px #f2a589;
          box-shadow: 0px 10px 30px 0px #f2a589;
  color: #fff;
}

main .second-section .cat .text-contain .cat-btn p {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 4px solid transparent;
}

main .second-section .cat .text-contain .cat-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .second-section .cat .text-contain .cat-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #f2a589;
          box-shadow: 0px 0px 10px 0px #f2a589;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .third-section {
  margin-top: 543px;
}

main .third-section .title-area {
  width: 428px;
  height: 130px;
  margin: auto;
  position: relative;
}

main .third-section .title-area .title-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

main .third-section .title-area .title-text h1 {
  color: #4f4f4f;
  font-size: 72px;
}

main .third-section .container140 {
  margin-top: 100px;
  width: 100%;
}

main .third-section .container140 .news col:nth-child(3) {
  margin: auto;
}

main .third-section .container140 .news .news-area {
  width: 504px;
}

main .third-section .container140 .news .news-area .news-img {
  position: relative;
}

main .third-section .container140 .news .news-area .news-img .img {
  width: 484px;
  height: 361px;
  border-radius: 40px;
}

main .third-section .container140 .news .news-area .news-img .img-shadow {
  width: 484px;
  height: 361px;
  border-radius: 40px;
  background-image: url("/img/first-section/米色背景.jpg");
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}

main .third-section .container140 .news .news-area .news-text {
  margin-top: 70px;
  margin-bottom: 60px;
}

main .third-section .container140 .news .news-area .news-text h4 {
  font-size: 40px;
  color: #fe886d;
  margin-bottom: 20px;
}

main .third-section .container140 .news .news-area .news-text p {
  font-size: 18px;
  color: #000000;
}

main .third-section .container140 .news-btn {
  margin: auto;
  margin-bottom: 240px;
  width: 308px;
  height: 100px;
  background-color: #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
}

main .third-section .container140 .news-btn p {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .third-section .container140 .news-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .third-section .container140 .news-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@media (max-width: 1740px) {
  main .third-section .container140 .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  main .third-section .container140 .news .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1700px) {
  main .banner {
    height: 1100px;
  }
  main .banner .grass-area {
    margin-top: 75px;
  }
}

@media (max-width: 1700px) and (max-width: 1200px) {
  main .third-section .container140 .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  main .third-section .container140 .news .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1700px) and (max-width: 992px) {
  main .first-section .container170 .about-us-swiper-area .swiper-container {
    width: 80vw;
    height: 68.2vw;
  }
  main .first-section .container170 .about-us-swiper-area .about-img {
    height: 68.2vw;
  }
  main .first-section .container170 .about-us-swiper-area .swiper-point {
    margin-left: 0px;
  }
  main .first-section .container170 .about-us-swiper-area .about-shadow {
    width: 70vw;
    height: 58.6vw;
    margin-top: -55vw;
  }
  main .second-section .cat .text-contain {
    bottom: -340px;
  }
  main .second-section .cat .text-contain .text-area h3 {
    font-size: 40px;
  }
  main .second-section .cat .text-contain .text-area p {
    font-size: 15px;
  }
  main .second-section .cat .text-contain .cat-btn {
    width: 60%;
    height: 70px;
  }
  main .second-section .cat .text-contain .cat-btn p {
    font-size: 30px;
  }
}

@media (max-width: 1700px) and (max-width: 992px) {
  main .banner {
    height: 1000px;
  }
  main .banner .grass-area {
    margin-top: 50px;
  }
  main .banner .container170 .mid {
    margin-top: 50px;
  }
  main .banner .container170 .mid .area-top h1,
  main .banner .container170 .mid .area-bot h1 {
    font-size: 60px;
  }
  main .banner .container170 .mid .area-top h3,
  main .banner .container170 .mid .area-bot h3 {
    font-size: 32px;
    line-height: 32px;
  }
  main .first-section .title-area {
    width: 350px;
    height: 120px;
  }
  main .first-section .title-area .title-text h1 {
    font-size: 48px;
  }
  main .first-section .container170 .row .swiper-container {
    width: 79.9vw;
  }
  main .first-section .container170 .row .about-img {
    height: 68vw;
  }
  main .first-section .container170 .row .swiper-point {
    margin-left: 0px;
  }
  main .first-section .container170 .row .deco-line1 {
    bottom: 6%;
    left: -3%;
  }
  main .first-section .container170 .row .about-shadow {
    left: -60px;
    width: 69.8vw;
    height: 58.7vw;
  }
  main .first-section .container170 .row .col .about-us {
    margin-top: 50px;
    padding: 0;
  }
  main .first-section .container170 .row .col .about-us h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  main .first-section .container170 .row .col .about-us span {
    font-size: 15px;
  }
  main .first-section .container170 .row .col .about-us p {
    font-size: 20px;
  }
  main .first-section .container170 .row .col .about-us .about-btn {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 200px;
    height: 80px;
  }
  main .first-section .container170 .row .col .about-us .about-btn p {
    font-size: 24px;
  }
  main .second-section .cat .text-contain {
    bottom: -270px;
  }
  main .third-section .title-area {
    width: 350px;
    height: 120px;
  }
  main .third-section .title-area .title-text h1 {
    font-size: 48px;
  }
}

@media (max-width: 1700px) and (max-width: 800px) {
  main .first-section .container170 .row .col .about-us {
    width: unset;
    padding: 0% 50px;
  }
  main .first-section .container170 .row .col .about-us h1 {
    margin: 0;
  }
}

@media (max-width: 1700px) and (max-width: 576px) {
  main .banner {
    padding-top: 150px;
    height: 952px;
  }
  main .banner .container170 {
    margin: auto;
    padding: 114px 0;
    padding-left: 90px;
    width: 418px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
  }
  main .banner .container170 span {
    font-size: 18px;
  }
  main .banner .container170 .mid .area-top,
  main .banner .container170 .mid .area-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .banner .container170 .mid .area-top h1,
  main .banner .container170 .mid .area-bot h1 {
    font-size: 32px;
  }
  main .banner .container170 .mid .area-top h3,
  main .banner .container170 .mid .area-bot h3 {
    font-size: 24px;
  }
  main .banner .container170 .mid div:nth-child(2) {
    margin-left: 15px;
  }
  main .banner .container170 .bot h1 {
    font-size: 70px;
  }
  main .banner .container170 .bot h2 {
    font-size: 40px;
  }
  main .banner .container170 .banner-btn {
    width: 260px;
    height: 70px;
  }
  main .banner .container170 .banner-btn p {
    font-size: 24px;
  }
  main .first-section .title-area {
    width: 146px;
    height: 46px;
    margin: auto;
  }
  main .first-section .title-area .title-img img {
    width: 71px;
    height: 31px;
  }
  main .first-section .title-area .title-text h1 {
    color: #4f4f4f;
    font-size: 24px;
  }
  main .first-section .container170 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .first-section .container170 .about-us .top h1 {
    font-size: 32px;
  }
  main .first-section .container170 .about-us .top span {
    font-size: 15px;
  }
  main .second-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .second-section .grass-3 {
    position: unset;
    width: 100%;
  }
  main .second-section .cat {
    width: 100%;
    margin-bottom: 267px;
  }
  main .second-section .cat .imgs {
    height: 83.4vw;
  }
  main .second-section .cat .imgs .heart-1 {
    position: absolute;
    width: 47px;
    height: 47px;
    right: 14.3%;
    bottom: 29.6%;
  }
  main .second-section .cat .imgs .heart-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 7%;
    bottom: 36%;
  }
  main .second-section .cat .text-contain {
    bottom: -187px;
    width: 88.2%;
    padding: 0 7%;
    padding-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .second-section .cat .text-contain:nth-child(1) {
    background-color: #fe886d;
  }
  main .second-section .cat .text-contain .text-area h3 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 16.3px;
  }
  main .second-section .cat .text-contain .text-area p {
    margin-bottom: 15px;
    font-size: 15px;
  }
  main .second-section .cat .text-contain .cat-btn {
    width: 40.45%;
    height: 55px;
  }
  main .second-section .cat .text-contain .cat-btn p {
    font-size: 24px;
  }
  main .third-section {
    margin: 0;
  }
  main .third-section .title-area {
    width: 25.34%;
    height: 46px;
  }
  main .third-section .title-area .title-img img {
    width: 71px;
    height: 31px;
  }
  main .third-section .title-area .title-text h1 {
    font-size: 24px;
  }
  main .third-section .container140 {
    padding: 0 90px;
    margin-top: 30px;
  }
  main .third-section .container140 .news-area .news-img .img {
    width: 77.4%;
    height: 291px;
  }
  main .third-section .container140 .news-area .news-img .img-shadow {
    width: 78.6%;
    height: 300px;
  }
  main .third-section .container140 .news-area .news-text h4 {
    font-size: 32px;
  }
  main .third-section .container140 .news-area .news-text p {
    padding-right: 90px;
    font-size: 15px;
  }
  main .third-section .container140 .news-btn {
    width: 168px;
    height: 55px;
    margin-bottom: 60px;
  }
  main .third-section .container140 .news-btn p {
    font-size: 24px;
  }
}
/*# sourceMappingURL=index.css.map */