@charset "UTF-8";
.nav {
  position: absolute;
}

main .banner {
  background-image: url("/img/banner.png");
  width: 100%;
  height: 1268px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 303px;
}

main .banner .container170 span {
  font-size: 32px;
  color: #707070;
}

main .banner .container170 .mid {
  margin: -12px 0 8px;
}

main .banner .container170 .mid .area-top,
main .banner .container170 .mid .area-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .banner .container170 .mid .area-top h1,
main .banner .container170 .mid .area-bot h1 {
  font-size: 120px;
  color: #ffa183;
  margin-right: 10px;
}

main .banner .container170 .mid .area-top h3,
main .banner .container170 .mid .area-bot h3 {
  font-size: 48px;
  color: #707070;
  margin-bottom: 16px;
}

main .banner .container170 .mid div:nth-child(2) {
  margin-left: 64px;
}

main .banner .container170 .bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .banner .container170 .bot h1 {
  font-size: 168px;
  color: #fe886d;
  margin: 0 10px;
  line-height: 190px;
}

main .banner .container170 .bot h2 {
  margin-top: 80px;
  font-size: 64px;
  color: #4f4f4f;
}

main .banner .container170 .banner-btn {
  width: 387px;
  height: 116px;
  background-color: #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
  cursor: pointer;
}

main .banner .container170 .banner-btn p {
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .banner .container170 .banner-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .banner .container170 .banner-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .grass-area {
  width: 100%;
  position: relative;
  top: -90px;
}

main .grass-area .scroll-line {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  top: -4.75vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 18px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

main .grass-area .scroll-line::after {
  content: "";
  width: 1px;
  height: 100px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 80px;
}

main .grass-area .grass-1 {
  width: 100%;
  height: 190px;
}

main .grass-area .grass-2 {
  width: 434px;
  height: 182px;
  position: absolute;
  right: 7.3%;
  top: 52.9%;
  z-index: 2;
}

main .grass-area .grass-3 {
  display: none;
}

main .grass-area .grass-4 {
  display: none;
}

main .first-section {
  margin-top: 234px;
  width: 100%;
  height: auto;
}

main .first-section .title-area {
  width: 428px;
  height: 130px;
  margin: auto;
  position: relative;
}

main .first-section .title-area .title-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

main .first-section .title-area .title-text h1 {
  color: #4f4f4f;
  font-size: 72px;
}

main .first-section .container170 {
  margin-top: 100px;
  margin-bottom: 230px;
}

main .first-section .container170 .about-us-swiper-area .swiper-container {
  width: 41.25vw;
  height: 35.2vw;
}

main .first-section .container170 .about-us-swiper-area .swiper-container .deco-line1 {
  position: absolute;
  bottom: -29px;
  left: -29px;
}

main .first-section .container170 .about-us-swiper-area .about-img {
  height: 35.2vw;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

main .first-section .container170 .about-us-swiper-area .about-img-1 {
  background-image: url("/img/first-section/cat-1.png");
}

main .first-section .container170 .about-us-swiper-area .swiper-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  padding-top: 1vw;
  margin-left: -2vw;
}

main .first-section .container170 .about-us-swiper-area .swiper-point .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  opacity: 1;
}

main .first-section .container170 .about-us-swiper-area .swiper-point .swiper-pagination-bullet-active {
  background-color: #fe886d;
}

main .first-section .container170 .about-us-swiper-area .about-shadow {
  width: 36.1vw;
  height: 30.31vw;
  border-radius: 40px;
  background-image: url("/img/first-section/米色背景.jpg");
  margin-top: -28.1vw;
  margin-left: -3.8vw;
  z-index: -1;
}

main .first-section .container170 .about-us {
  margin-top: 6%;
  padding-left: 5.7%;
}

main .first-section .container170 .about-us h1 {
  font-size: 48px;
  color: #fe886d;
}

main .first-section .container170 .about-us span {
  font-size: 20px;
  color: #4f4f4f;
}

main .first-section .container170 .about-us .row {
  margin: 0;
}

main .first-section .container170 .about-us .top {
  margin-bottom: 10%;
}

main .first-section .container170 .about-us .bot {
  margin-bottom: 10%;
}

main .first-section .container170 .about-us p {
  font-size: 22px;
  color: #ffa183;
}

main .first-section .container170 .about-us .about-btn {
  margin-top: 3%;
  width: 308px;
  height: 14.5%;
  background-color: #ff7950;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
}

main .first-section .container170 .about-us .about-btn p {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .first-section .container170 .about-us .about-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .first-section .container170 .about-us .about-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .first-section .container140 .numerical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .first-section .container140 .numerical .numerical-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .first-section .container140 .numerical .numerical-value .icon {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #fe886d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .first-section .container140 .numerical .numerical-value .icon .steri-cat {
  margin-top: -6px;
  margin-left: 2px;
}

main .first-section .container140 .numerical .numerical-value .icon .medi-sup {
  margin-top: 7px;
  margin-left: 3px;
}

main .first-section .container140 .numerical .numerical-value .icon i {
  font-size: 60px;
  color: #ffffff;
}

main .first-section .container140 .numerical .numerical-value .text {
  margin-left: 10px;
}

main .first-section .container140 .numerical .numerical-value .text h3 {
  font-size: 32px;
  color: #707070;
  margin-left: 20px;
  font-weight: bold;
}

main .first-section .container140 .numerical .numerical-value .text h1 {
  font-size: 96px;
  color: #4f4f4f;
  margin-left: 10px;
  line-height: 80px;
}

main .second-section {
  margin-top: 231px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .second-section .grass-3 {
  position: absolute;
  top: -6.55vw;
  left: 0;
  width: 56.3%;
}

main .second-section .cat {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/img/second-section/cat-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main .second-section .cat:nth-child(3) {
  background-image: url("/img/second-section/cat-3.png");
}

main .second-section .cat .imgs {
  width: 100%;
  height: 40.4vw;
  position: relative;
}

main .second-section .cat .imgs .heart-1 {
  position: absolute;
  width: 47px;
  height: 47px;
  right: 14.3%;
  bottom: 29.6%;
}

main .second-section .cat .imgs .heart-2 {
  position: absolute;
  width: 90px;
  height: 90px;
  right: 7%;
  bottom: 36%;
}

main .second-section .cat .text-contain {
  position: absolute;
  bottom: -304px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 40px;
  background-color: #ff7950;
  width: 85.75%;
  padding: 0 11.5% 5.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .second-section .cat .text-contain:nth-child(1) {
  background-color: #fe886d;
}

main .second-section .cat .text-contain .text-area h3 {
  font-size: 48px;
  color: #ffffff;
  margin-top: 13.4%;
  margin-bottom: 6.7%;
}

main .second-section .cat .text-contain .text-area p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 6.7%;
}

main .second-section .cat .text-contain .cat-btn {
  background-color: #f2a589;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px 0px #f2a589;
          box-shadow: 0px 10px 30px 0px #f2a589;
  color: #fff;
  padding: 20px 80px;
}

main .second-section .cat .text-contain .cat-btn p {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 4px solid transparent;
}

main .second-section .cat .text-contain .cat-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .second-section .cat .text-contain .cat-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #f2a589;
          box-shadow: 0px 0px 10px 0px #f2a589;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .third-section {
  margin-top: 490px;
}

main .third-section .title-area {
  width: 428px;
  height: 130px;
  margin: auto;
  position: relative;
}

main .third-section .title-area .title-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

main .third-section .title-area .title-text h1 {
  color: #4f4f4f;
  font-size: 72px;
}

main .third-section .container140 {
  margin-top: 150px;
  width: 100%;
}

main .third-section .container140 .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .third-section .container140 .news .news-area .news-img {
  position: relative;
}

main .third-section .container140 .news .news-area .news-img .img {
  border-radius: 40px;
}

main .third-section .container140 .news .news-area .news-img .img-shadow {
  width: 484px;
  height: 361px;
  border-radius: 40px;
  background-image: url("/img/first-section/米色背景.jpg");
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}

main .third-section .container140 .news .news-area .news-text {
  margin-top: 70px;
  margin-bottom: 60px;
  padding-right: 2.5vw;
}

main .third-section .container140 .news .news-area .news-text h4 {
  font-size: 40px;
  color: #fe886d;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

main .third-section .container140 .news .news-area .news-text p {
  font-size: 18px;
  color: #000000;
  -webkit-line-clamp: 3;
}

main .third-section .container140 .news .news-area .news-text .date {
  display: none;
}

main .third-section .container140 .news-btn {
  margin: auto;
  margin-bottom: 240px;
  width: 308px;
  height: 100px;
  background-color: #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
}

main .third-section .container140 .news-btn p {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .third-section .container140 .news-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .third-section .container140 .news-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@media (max-width: 1800px) {
  main .third-section .container140 .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
  }
  main .third-section .container140 .news .news-area {
    width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ee8e74;
  }
  main .third-section .container140 .news .news-area .news-img {
    margin-right: 20px;
  }
  main .third-section .container140 .news .news-area .news-img .img {
    width: 20vw;
    border-radius: 40px;
  }
  main .third-section .container140 .news .news-area .news-img .img-shadow {
    display: none;
  }
  main .third-section .container140 .news .news-area .news-text {
    padding: unset;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .third-section .container140 .news .news-area .news-text h4 {
    font-size: 32px;
    color: #fe886d;
    margin: 0;
  }
  main .third-section .container140 .news .news-area .news-text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  main .third-section .container140 .news .news-area .news-text .date {
    display: unset;
    color: #4f4f4f;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  main .third-section .container140 .news .first-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .third-section .container140 .news .first-news .news-img .img {
    width: 93.51%;
  }
  main .third-section .container140 .news .first-news .news-img .img-shadow {
    border-radius: 40px;
    display: block;
    width: 94.75%;
    height: 100%;
    top: 3.5vw;
    left: 3.5vw;
  }
  main .third-section .container140 .news .first-news .news-text {
    margin-top: 5vw;
  }
  main .third-section .container140 .news .first-news .news-text span {
    font-size: 15px;
    display: block;
    float: right;
  }
  main .third-section .container140 .news-btn {
    width: 250px;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  main .third-section .container140 .news-btn p {
    font-size: 32px;
  }
}

@media (max-width: 1500px) {
  main .first-section .container140 .numerical .numerical-value .icon {
    width: 100px;
    height: 100px;
    margin-top: 8px;
  }
  main .first-section .container140 .numerical .numerical-value .icon .steri-cat {
    width: 50px;
    height: 50px;
  }
  main .first-section .container140 .numerical .numerical-value .icon .medi-sup {
    width: 60px;
    height: 60px;
  }
  main .first-section .container140 .numerical .numerical-value .text {
    margin: 0;
  }
  main .first-section .container140 .numerical .numerical-value .text h1 {
    font-size: 72px;
  }
  main .first-section .container140 .numerical .numerical-value .text h3 {
    font-size: 26px;
    margin-left: 14px;
  }
}

@media (max-width: 1200px) {
  main .banner .container170 .mid .area-top h1,
  main .banner .container170 .mid .area-bot h1 {
    font-size: 80px;
  }
  main .banner .container170 .mid .area-top h3,
  main .banner .container170 .mid .area-bot h3 {
    font-size: 32px;
  }
  main .banner .container170 .bot h1 {
    font-size: 150px;
  }
  main .banner .container170 .banner-btn {
    width: 360px;
    height: 100px;
    margin-top: 20px;
  }
  main .banner .container170 .banner-btn p {
    font-size: 50px;
  }
  main .first-section .container170 .about-us-swiper-area .swiper-container {
    margin-top: 150px;
  }
  main .first-section .container170 .about-us-swiper-area .swiper-point {
    padding-top: 20px;
    margin-left: -20px;
  }
  main .first-section .container140 .numerical .numerical-value .text h1 {
    font-size: 60px;
  }
  main .first-section .container140 .numerical .numerical-value .text h3 {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  main .banner {
    height: 1000px;
  }
  main .banner .container170 .mid .area-top h1,
  main .banner .container170 .mid .area-bot h1 {
    font-size: 60px;
  }
  main .banner .container170 .mid .area-top h3,
  main .banner .container170 .mid .area-bot h3 {
    font-size: 32px;
    line-height: 32px;
  }
  main .grass-area .grass-1 {
    display: none;
  }
  main .grass-area .grass-2 {
    width: 326px;
    height: 138px;
  }
  main .grass-area .grass-3 {
    position: absolute;
    top: -10vw;
    width: 100%;
    height: 20vw;
    display: block;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  main .grass-area .grass-4 {
    position: absolute;
    top: 35px;
    display: block;
    width: 100%;
    height: 60px;
    background-color: #ffa183;
  }
  main .grass-area .scroll-line {
    top: -10.75vw;
  }
  main .first-section .title-area {
    width: 350px;
    height: 120px;
  }
  main .first-section .title-area .title-text h1 {
    font-size: 48px;
  }
  main .first-section .container170 {
    padding: 0 10%;
  }
  main .first-section .container170 .about-us-swiper-area .swiper-container {
    width: 80vw;
    height: 68.2vw;
    margin-top: 0;
  }
  main .first-section .container170 .about-us-swiper-area .about-img {
    height: 68.2vw;
  }
  main .first-section .container170 .about-us-swiper-area .swiper-point {
    margin-left: 0px;
  }
  main .first-section .container170 .about-us-swiper-area .about-shadow {
    width: 70vw;
    height: 58.6vw;
    margin-top: -55vw;
    margin-left: -4.8vw;
  }
  main .first-section .container170 .about-us {
    padding-left: 0;
  }
  main .first-section .container170 .about-us h1 {
    font-size: 40px;
  }
  main .first-section .container170 .about-us p {
    font-size: 20px;
  }
  main .first-section .container170 .about-us .about-btn {
    margin: auto;
    margin-top: 5%;
    padding: 20px 50px;
  }
  main .first-section .container140 .numerical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .first-section .container140 .numerical .numerical-value {
    margin-bottom: 100px;
  }
  main .first-section .container140 .numerical .numerical-value .icon {
    width: 133px;
    height: 133px;
  }
  main .first-section .container140 .numerical .numerical-value .icon .steri-cat {
    width: unset;
    height: unset;
  }
  main .first-section .container140 .numerical .numerical-value .icon .medi-sup {
    width: unset;
    height: unset;
  }
  main .first-section .container140 .numerical .numerical-value .text h1 {
    font-size: 96px;
  }
  main .first-section .container140 .numerical .numerical-value .text h3 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 20px;
  }
  main .first-section .container140 .numerical .value-2 {
    margin-right: 40px;
  }
  main .first-section .container140 .numerical .value-2 .text {
    margin-left: 10px;
  }
  main .first-section .container140 .numerical .value-3 {
    margin-right: 40px;
    margin-bottom: 0;
  }
  main .first-section .container140 .numerical .value-3 .text {
    margin-left: 10px;
  }
  main .second-section .cat .imgs .heart-1 {
    width: 40px;
    height: 40px;
  }
  main .second-section .cat .imgs .heart-2 {
    width: 70px;
    height: 70px;
    right: 5%;
  }
  main .second-section .cat .text-contain {
    bottom: -290px;
  }
  main .second-section .cat .text-contain .text-area h3 {
    font-size: 40px;
  }
  main .second-section .cat .text-contain .cat-btn {
    padding: 20px 60px;
  }
  main .second-section .cat .text-contain .cat-btn p {
    font-size: 24px;
  }
  main .third-section .title-area {
    width: 350px;
    height: 120px;
  }
  main .third-section .title-area .title-text h1 {
    font-size: 48px;
  }
  main .third-section .container140 .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
  }
  main .third-section .container140 .news .news-area {
    width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ee8e74;
  }
  main .third-section .container140 .news .news-area .news-img {
    margin-right: 20px;
  }
  main .third-section .container140 .news .news-area .news-img .img {
    width: 20vw;
    border-radius: 20px;
  }
  main .third-section .container140 .news .news-area .news-img .img-shadow {
    display: none;
  }
  main .third-section .container140 .news .news-area .news-text {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .third-section .container140 .news .news-area .news-text h4 {
    font-size: 24px;
    color: #fe886d;
    margin: 0;
  }
  main .third-section .container140 .news .news-area .news-text .date {
    display: unset;
    color: #4f4f4f;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  main .third-section .container140 .news .first-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .third-section .container140 .news .first-news .news-img .img {
    width: 93.51%;
    border-radius: 40px;
  }
  main .third-section .container140 .news .first-news .news-img .img-shadow {
    border-radius: 40px;
    display: block;
    width: 94.75%;
    height: 100%;
    top: 3.5vw;
    left: 3.5vw;
  }
  main .third-section .container140 .news .first-news .news-text {
    margin-top: 5vw;
  }
  main .third-section .container140 .news .first-news .news-text h4 {
    font-size: 32px;
  }
  main .third-section .container140 .news .first-news .news-text span {
    font-size: 15px;
    display: block;
    float: right;
  }
}

@media (max-width: 768px) {
  main .banner {
    padding-top: 170px;
    height: 952px;
  }
  main .banner .container170 {
    margin: auto;
    padding: 60px 0;
    padding-left: 18%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
  }
  main .banner .container170 span {
    font-size: 18px;
  }
  main .banner .container170 .mid {
    margin-top: 20px;
  }
  main .banner .container170 .mid .area-top,
  main .banner .container170 .mid .area-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .banner .container170 .mid .area-top h1,
  main .banner .container170 .mid .area-bot h1 {
    font-size: 32px;
  }
  main .banner .container170 .mid .area-top h3,
  main .banner .container170 .mid .area-bot h3 {
    font-size: 24px;
    margin: 0;
  }
  main .banner .container170 .mid div:nth-child(2) {
    margin-left: 15px;
  }
  main .banner .container170 .bot h1 {
    font-size: 70px;
  }
  main .banner .container170 .bot h2 {
    font-size: 40px;
  }
  main .banner .container170 .banner-btn {
    width: 260px;
    height: 70px;
  }
  main .banner .container170 .banner-btn p {
    font-size: 24px;
  }
  main .grass-area .scroll-line {
    top: -15vw;
  }
  main .second-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .second-section .grass-3 {
    width: 100%;
    top: -11.3vw;
  }
  main .second-section .cat {
    width: 100%;
    margin-bottom: 267px;
  }
  main .second-section .cat .imgs {
    height: 83.4vw;
  }
  main .second-section .cat .imgs .heart-1 {
    position: absolute;
    width: 47px;
    height: 47px;
    right: 14.3%;
    bottom: 29.6%;
  }
  main .second-section .cat .imgs .heart-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 7%;
    bottom: 36%;
  }
  main .second-section .cat .text-contain {
    bottom: -210px;
    width: 70%;
    padding: 0 7%;
    padding-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .second-section .cat .text-contain:nth-child(1) {
    background-color: #fe886d;
  }
  main .second-section .cat .text-contain .text-area h3 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 16.3px;
  }
  main .second-section .cat .text-contain .text-area p {
    margin-bottom: 15px;
    font-size: 15px;
  }
  main .second-section .cat .text-contain .cat-btn p {
    font-size: 24px;
  }
  main .third-section {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .container170 {
    padding: 0 20px;
  }
  .container140 {
    padding: 0 40px;
  }
  main .banner {
    padding-top: 170px;
    height: 900px;
  }
  main .banner .container170 {
    margin: auto;
    padding: 60px 0;
    padding-left: 100px;
    width: 418px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
  }
  main .banner .container170 span {
    font-size: 18px;
  }
  main .banner .container170 .mid .area-top,
  main .banner .container170 .mid .area-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .banner .container170 .mid .area-top h1,
  main .banner .container170 .mid .area-bot h1 {
    font-size: 32px;
  }
  main .banner .container170 .mid .area-top h3,
  main .banner .container170 .mid .area-bot h3 {
    font-size: 24px;
  }
  main .banner .container170 .mid div:nth-child(2) {
    margin-left: 15px;
  }
  main .banner .container170 .bot h1 {
    font-size: 70px;
  }
  main .banner .container170 .bot h2 {
    font-size: 40px;
  }
  main .banner .container170 .banner-btn {
    width: 260px;
    height: 70px;
  }
  main .banner .container170 .banner-btn p {
    font-size: 24px;
  }
  main .first-section {
    margin-top: 110px;
  }
  main .first-section .title-area {
    width: 146px;
    height: 46px;
    margin: auto;
  }
  main .first-section .title-area .title-img img {
    width: 71px;
    height: 31px;
  }
  main .first-section .title-area .title-text h1 {
    color: #4f4f4f;
    font-size: 24px;
  }
  main .first-section .container170 {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 20px;
  }
  main .first-section .container170 .about-us-swiper-area .swiper-container {
    margin-right: unset;
  }
  main .first-section .container170 .about-us-swiper-area .swiper-point {
    margin-left: 40px;
  }
  main .first-section .container170 .about-us-swiper-area .about-shadow {
    margin-left: 20px;
  }
  main .first-section .container170 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .first-section .container170 .about-us {
    padding-left: 5.7%;
  }
  main .first-section .container170 .about-us .top h1,
  main .first-section .container170 .about-us .bot h1 {
    font-size: 32px;
  }
  main .first-section .container170 .about-us .top span,
  main .first-section .container170 .about-us .bot span {
    font-size: 15px;
  }
  main .first-section .container170 .about-us .top p,
  main .first-section .container170 .about-us .bot p {
    font-size: 15px;
  }
  main .first-section .container170 .about-us .about-btn {
    margin-top: 10%;
  }
  main .second-section .cat .text-contain .cat-btn {
    padding: 8px 40px;
  }
  main .third-section {
    margin: 0;
  }
  main .third-section .title-area {
    width: 25.34%;
    height: 46px;
  }
  main .third-section .title-area .title-img img {
    width: 71px;
    height: 31px;
  }
  main .third-section .title-area .title-text h1 {
    font-size: 24px;
  }
  main .third-section .container140 {
    margin-top: 50px;
  }
  main .third-section .container140 .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
  }
  main .third-section .container140 .news .news-area {
    width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ee8e74;
  }
  main .third-section .container140 .news .news-area .news-img {
    margin-right: 20px;
  }
  main .third-section .container140 .news .news-area .news-img .img {
    width: 126px;
    border-radius: 20px;
  }
  main .third-section .container140 .news .news-area .news-img .img-shadow {
    display: none;
  }
  main .third-section .container140 .news .news-area .news-text {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .third-section .container140 .news .news-area .news-text h4 {
    font-size: 20px;
    color: #4f4f4f;
    margin: 0;
    -webkit-line-clamp: 3;
  }
  main .third-section .container140 .news .news-area .news-text p {
    display: none;
  }
  main .third-section .container140 .news .news-area .news-text .date {
    display: unset;
    color: #4f4f4f;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  main .third-section .container140 .news .first-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .third-section .container140 .news .first-news .news-img .img {
    width: 93.51%;
  }
  main .third-section .container140 .news .first-news .news-img .img-shadow {
    border-radius: 20px;
    display: block;
    width: 94.75%;
    height: 100%;
    top: 4.5vw;
    left: 3.5vw;
  }
  main .third-section .container140 .news .first-news .news-text {
    margin-top: 40px;
  }
  main .third-section .container140 .news .first-news .news-text h4 {
    font-size: 32px;
    color: #fe886d;
  }
  main .third-section .container140 .news .first-news .news-text p {
    display: none;
  }
  main .third-section .container140 .news .first-news .news-text span {
    font-size: 15px;
    display: block;
    float: right;
  }
  main .third-section .container140 .news-btn {
    width: 168px;
    height: 55px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  main .third-section .container140 .news-btn p {
    font-size: 24px;
  }
}
/*# sourceMappingURL=index.css.map */