@import "_style_guide.scss";

.nav {
	position: absolute;
}

main {
	.banner {
		background-image: url("/img/banner.png");
		width: 100%;
		height: 1268px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding-top: 303px;

		.container170 {
			span {
				font-size: 32px;
				color: $color-banner-gray;
			}

			.mid {
				margin: -12px 0 8px;
				.area-top,
				.area-bot {
					display: flex;
					align-items: flex-end;
					h1 {
						font-size: 120px;
						color: $color-banner-number;
						margin-right: 10px;
					}
					h3 {
						font-size: 48px;
						color: $color-banner-gray;
						margin-bottom: 16px;
					}
				}
				div:nth-child(2) {
					margin-left: 64px;
				}
			}
			.bot {
				display: flex;
				h1 {
					font-size: 168px;
					color: $color-light-orange;
					margin: 0 10px;
					line-height: 190px;
				}
				h2 {
					margin-top: 80px;
					font-size: 64px;
					color: $color-text;
				}
			}
			.banner-btn {
				width: 387px;
				height: 116px;
				background-color: $color-dark-orange;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 40px;
				box-shadow: 0px 10px 30px 0px $color-dark-orange;
				cursor: pointer;

				p {
					font-size: 56px;
					font-weight: bold;
					color: $color-btn-text;
					border-bottom: 4px solid $color-dark-orange;
				}
				&:hover p {
					border-bottom: 4px solid $color-btn-text;
					transition-duration: 0.8s;
				}
				&:hover {
					box-shadow: 0px 0px 10px 0px $color-dark-orange;
					transition-duration: 0.8s;
				}
			}
		}

		.grass-area {
			width: 100%;
			position: relative;
			margin-top: 230px;

			.scroll-line {
				position: absolute;
				writing-mode: vertical-lr;
				top: -3.75vw;
				left: 50%;
				transform: translateX(-50%);
				font-size: 18px;
				color: #ffffff;
				display: flex;
				align-items: center;

				&::after {
					content: "";
					width: 1px;
					height: 100px;
					border: 1px solid #ffffff;
					position: absolute;
					top: 80px;
				}
			}

			.grass-1 {
				width: 100%;
				height: 190px;
				z-index: 1;
				// margin-left: -170px;
				// margin-top: 42px;
			}
			.grass-2 {
				width: 22.6%;
				height: 182px;
				position: absolute;
				right: 7.3%;
				top: 52.9%;
				z-index: 2;

				// margin-top: -92px;
				// margin-left: 1175px;
			}
		}
	}

	.first-section {
		margin-top: 234px; //之後要修改
		width: 100%;
		height: auto;

		.title-area {
			width: 428px;
			height: 130px;
			margin: auto;
			position: relative;

			.title-text {
				position: absolute;
				bottom: 0;
				right: 0;
				h1 {
					color: $color-text;
					font-size: 72px;
				}
			}
		}

		.container170 {
			margin-top: 100px;
			margin-bottom: 230px;
			.about-us-swiper-area {
				.swiper-container {
					width: 41.25vw;
					height: 35.2vw;
					.deco-line1 {
						position: absolute;
						bottom: -29px;
						left: -29px;
					}
				}
				.about-img {
					height: 35.2vw;
					border-radius: 40px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					position: relative;
				}
				.about-img-1 {
					background-image: url("/img/first-section/cat-1.png");
				}
				// .about-img-2 {
				// }
				// .about-img-3 {
				// }

				.swiper-point {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 92px;
					padding-top: 50px;
					margin-left: -72px;
					.swiper-pagination-bullet {
						width: 20px;
						height: 20px;
						background-color: $color-btn-text;
						opacity: 1;
					}
					.swiper-pagination-bullet-active {
						background-color: $color-light-orange;
					}
				}
				.about-shadow {
					width: 36.1vw;
					height: 30.31vw;
					border-radius: 40px;
					background-image: url("/img/first-section/米色背景.jpg");
					margin-top: -28.1vw;
					margin-left: -5.8vw;
					z-index: -1;
				}
			}
			.about-us {
				margin-top: 6%;
				padding-left: 5.7%;

				h1 {
					font-size: 48px;
					color: $color-light-orange;
				}

				span {
					font-size: 18px;
					color: $color-text;
				}

				.row {
					margin: 0;
				}

				.top {
					margin-bottom: 10%;
				}

				.bot {
					margin-bottom: 16%;
				}

				p {
					font-size: 22px;
					color: $color-banner-number;
				}

				.about-btn {
					margin-top: 3%;
					width: 44.25%;
					height: 14.5%;
					background-color: $color-dark-orange;
					box-shadow: 0px 10px 30px 0px $color-dark-orange;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 40px;
					cursor: pointer;
					p {
						font-size: 36px;
						font-weight: bold;
						color: $color-btn-text;
						border-bottom: 4px solid $color-dark-orange;
					}
					&:hover p {
						border-bottom: 4px solid $color-btn-text;
						transition-duration: 0.8s;
					}
					&:hover {
						box-shadow: 0px 0px 10px 0px $color-dark-orange;
						transition-duration: 0.8s;
					}
				}
			}
		}

		.container140 {
			.numerical-value {
				display: flex;
				.icon {
					width: 133px;
					height: 133px;
					border-radius: 50%;
					background-color: $color-light-orange;
					display: flex;
					justify-content: center;
					align-items: center;

					i {
						font-size: 60px;
						color: $color-btn-text;
					}
				}

				.text {
					h3 {
						font-size: 32px;
						color: $color-banner-gray;
						margin-left: 20px;
						font-weight: bold;
					}
					h1 {
						font-size: 96px;
						color: $color-text;
						margin-left: 10px;
					}
				}
			}
			// .num-Swiper {
			// 	.disabled {
			// 		transform: translate3d(0px, 0, 0) !important;
			// 	}

			// 	.numerical-value {
			// 		display: flex;
			// 		.icon {
			// 			width: 133px;
			// 			height: 133px;
			// 			border-radius: 50%;
			// 			background-color: $color-light-orange;
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;

			// 			i {
			// 				font-size: 60px;
			// 				color: $color-btn-text;
			// 			}
			// 		}

			// 		.text {
			// 			h3 {
			// 				font-size: 32px;
			// 				color: $color-banner-gray;
			// 				margin-left: 20px;
			// 				font-weight: bold;
			// 			}
			// 			h1 {
			// 				font-size: 96px;
			// 				color: $color-text;
			// 				margin-left: 10px;
			// 			}
			// 		}
			// 	}
			// }
		}
	}

	.second-section {
		margin-top: 231px;
		width: 100%;
		display: flex;
		position: relative;

		.grass-3 {
			position: absolute;
			top: -132px;
			left: 0;
			height: 133px;
			width: 56.3%;
		}

		.cat {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-image: url("/img/second-section/cat-2.png");
			background-repeat: no-repeat;
			background-size: cover;
			&:nth-child(3) {
				background-image: url("/img/second-section/cat-3.png");
			}
			.imgs {
				width: 100%;
				height: 40.4vw;
				position: relative;

				.heart-1 {
					position: absolute;
					width: 47px;
					height: 47px;
					right: 14.3%;
					bottom: 29.6%;
				}

				.heart-2 {
					position: absolute;
					width: 90px;
					height: 90px;
					right: 7%;
					bottom: 36%;
				}
			}

			.text-contain {
				position: absolute;
				bottom: -304px;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 40px;
				background-color: $color-dark-orange;
				width: 85.75%;
				padding: 0 11.5% 5.3%;
				display: flex;
				flex-direction: column;
				align-items: center;
				&:nth-child(1) {
					background-color: #fe886d;
				}

				.text-area {
					h3 {
						font-size: 48px;
						color: $color-btn-text;
						margin-top: 13.4%;
						margin-bottom: 6.7%;
					}

					p {
						font-size: 18px;
						color: $color-btn-text;
						margin-bottom: 6.7%;
					}
				}
				.cat-btn {
					width: 78%;
					height: 100px;
					background-color: #f2a589;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 40px;
					cursor: pointer;
					box-shadow: 0px 10px 30px 0px #f2a589;
					color: #fff;
					p {
						font-size: 36px;
						font-weight: bold;
						border-bottom: 4px solid transparent;
					}

					&:hover p {
						border-bottom: 4px solid $color-btn-text;
						transition-duration: 0.8s;
					}
					&:hover {
						box-shadow: 0px 0px 10px 0px #f2a589;
						transition-duration: 0.8s;
					}
				}
			}
		}
	}

	.third-section {
		margin-top: 543px;
		.title-area {
			width: 428px;
			height: 130px;
			margin: auto;
			position: relative;

			.title-text {
				position: absolute;
				bottom: 0;
				right: 0;
				h1 {
					color: $color-text;
					font-size: 72px;
				}
			}
		}

		.container140 {
			margin-top: 100px;
			width: 100%;

			.news {
				col:nth-child(3) {
					margin: auto;
				}

				.news-area {
					width: 504px;

					.news-img {
						position: relative;

						.img {
							width: 484px;
							height: 361px;
							border-radius: 40px;
						}

						.img-shadow {
							width: 484px;
							height: 361px;
							border-radius: 40px;
							background-image: url("/img/first-section/米色背景.jpg");

							position: absolute;
							top: 20px;
							left: 20px;
							z-index: -1;
						}
					}

					.news-text {
						margin-top: 70px;
						margin-bottom: 60px;

						h4 {
							font-size: 40px;
							color: #fe886d;
							margin-bottom: 20px;
						}

						p {
							font-size: 18px;
							color: #000000;
						}
					}
				}
			}

			.news-btn {
				margin: auto;
				margin-bottom: 240px;

				width: 308px;
				height: 100px;
				background-color: $color-dark-orange;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 40px;
				cursor: pointer;
				box-shadow: 0px 10px 30px 0px $color-dark-orange;

				p {
					font-size: 36px;
					font-weight: bold;
					color: $color-btn-text;
					border-bottom: 4px solid $color-dark-orange;
				}
				&:hover p {
					border-bottom: 4px solid $color-btn-text;
					transition-duration: 0.8s;
				}
				&:hover {
					box-shadow: 0px 0px 10px 0px $color-dark-orange;
					transition-duration: 0.8s;
				}
			}
		}
	}
}

@media (max-width: 1740px) {
	main {
		.third-section {
			.container140 {
				.news {
					// width: 504px;
					display: flex;
					// flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: auto;

					.col {
						display: flex;
						justify-content: center;
					}
				}
			}
		}
	}
}

@media (max-width: 1700px) {
	main {
		.banner {
			height: 1100px;
			.grass-area {
				margin-top: 75px;
			}
		}
		// 		.first-section {
		// 			.container170 {
		// 				.row {
		// 					display: flex;
		// 					flex-direction: column;

		// 					.about-us-swiper-area {
		// 						.deco-line1 {
		// 							bottom: 6%;
		// 						}
		// 					}
		// 					.about-shadow{
		// 						left: 13%;

		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
	}

	// @media (max-width: 1439px) {
	// 	main {
	// 		.first-section {
	// 			.container140 {
	// 				.numerical {
	// 					display: flex;
	// 					flex-direction: column;
	// 					justify-content: center;
	// 					align-items: center;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	@media (max-width: 1200px) {
		main {
			.third-section {
				.container140 {
					.news {
						// width: 504px;
						display: flex;
						// flex-direction: column;
						justify-content: center;
						align-items: center;
						margin: auto;
						.col {
							display: flex;
							justify-content: center;
						}
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		main {
			.first-section {
				.container170 {
					.about-us-swiper-area {
						.swiper-container {
							width: 80vw;
							height: 68.2vw;
						}
						.about-img {
							height: 68.2vw;
						}

						.swiper-point {
							margin-left: 0px;
						}
						.about-shadow {
							width: 70vw;
							height: 58.6vw;
							margin-top: -55vw;
						}
					}
				}
			}
			.second-section {
				.cat {
					.text-contain {
						bottom: -340px;
						.text-area {
							h3 {
								font-size: 40px;
							}
							p {
								font-size: 15px;
							}
						}
						.cat-btn {
							width: 60%;
							height: 70px;
							p {
								font-size: 30px;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		main {
			.banner {
				height: 1000px;
				.grass-area {
					margin-top: 50px;
				}
				.container170 {
					.mid {
						margin-top: 50px;
						.area-top,
						.area-bot {
							h1 {
								font-size: 60px;
							}
							h3 {
								font-size: 32px;
								line-height: 32px;
							}
						}
					}
				}
			}

			.first-section {
				.title-area {
					width: 350px;
					height: 120px;
					.title-text {
						h1 {
							font-size: 48px;
						}
					}
				}
				.container170 {
					.row {
						.swiper-container {
							width: 79.9vw;
						}
						.about-img {
							height: 68vw;
						}
						.swiper-point {
							margin-left: 0px;
						}
						.deco-line1 {
							bottom: 6%;
							left: -3%;
						}
						.about-shadow {
							left: -60px;
							width: 69.8vw;
							height: 58.7vw;
						}

						.col {
							.about-us {
								margin-top: 50px;
								padding: 0;
								h1 {
									font-size: 32px;
									margin-bottom: 30px;
								}
								span {
									font-size: 15px;
								}

								p {
									font-size: 20px;
								}

								.about-btn {
									margin: auto;
									margin-top: 50px;
									margin-bottom: 100px;
									width: 200px;
									height: 80px;
									p {
										font-size: 24px;
									}
								}
							}
						}
					}
				}
			}

			.second-section {
				.cat {
					.text-contain {
						bottom: -270px;
					}
				}
			}

			.third-section {
				.title-area {
					width: 350px;
					height: 120px;
					.title-text {
						h1 {
							font-size: 48px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 800px) {
		main {
			.first-section {
				.container170 {
					.row {
						.col {
							.about-us {
								width: unset;
								padding: 0% 50px;
								h1 {
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 576px) {
		main {
			.banner {
				padding-top: 150px;
				height: 952px;

				.container170 {
					margin: auto;
					padding: 114px 0;
					padding-left: 90px;
					width: 418px;
					background-color: rgba(255, 255, 255, 0.5);
					border-radius: 40px;
					span {
						font-size: 18px;
					}

					.mid {
						.area-top,
						.area-bot {
							display: flex;
							align-items: center;
							h1 {
								font-size: 32px;
							}
							h3 {
								font-size: 24px;
							}
						}
						div:nth-child(2) {
							margin-left: 15px;
						}
					}

					.bot {
						h1 {
							font-size: 70px;
						}
						h2 {
							font-size: 40px;
						}
					}

					.banner-btn {
						width: 260px;
						height: 70px;
						p {
							font-size: 24px;
						}
					}
				}
			}

			.first-section {
				.title-area {
					width: 146px;
					height: 46px;
					margin: auto;
					.title-img {
						img {
							width: 71px;
							height: 31px;
						}
					}

					.title-text {
						h1 {
							color: $color-text;
							font-size: 24px;
						}
					}
				}

				.container170 {
					.row {
						display: flex;
						flex-direction: column;
					}
					.about-us {
						.top {
							h1 {
								font-size: 32px;
							}
							span {
								font-size: 15px;
							}
						}
					}
				}
				.container140 {
					// display: none;
				}
			}

			.second-section {
				flex-direction: column;
				.grass-3 {
					position: unset;
					width: 100%;
				}

				.cat {
					width: 100%;
					margin-bottom: 267px;
					.imgs {
						height: 83.4vw;
						.heart-1 {
							position: absolute;
							width: 47px;
							height: 47px;
							right: 14.3%;
							bottom: 29.6%;
						}
						.heart-2 {
							position: absolute;
							width: 90px;
							height: 90px;
							right: 7%;
							bottom: 36%;
						}
					}

					.text-contain {
						bottom: -187px;
						width: 88.2%;
						padding: 0 7%;
						padding-bottom: 31px;
						display: flex;
						flex-direction: column;
						align-items: center;
						&:nth-child(1) {
							background-color: #fe886d;
						}

						.text-area {
							h3 {
								font-size: 32px;
								margin-top: 30px;
								margin-bottom: 16.3px;
							}

							p {
								margin-bottom: 15px;
								font-size: 15px;
							}
						}
						.cat-btn {
							width: 40.45%;
							height: 55px;
							p {
								font-size: 24px;
							}
						}
					}
				}
			}

			.third-section {
				margin: 0;
				.title-area {
					width: 25.34%;
					height: 46px;
					.title-img {
						img {
							width: 71px;
							height: 31px;
						}
					}
					.title-text {
						h1 {
							font-size: 24px;
						}
					}
				}

				.container140 {
					padding: 0 90px;
					margin-top: 30px;
					.news-area {
						.news-img {
							.img {
								width: 77.4%;
								height: 291px;
							}
							.img-shadow {
								width: 78.6%;
								height: 300px;
							}
						}
						.news-text {
							h4 {
								font-size: 32px;
							}
							p {
								padding-right: 90px;
								font-size: 15px;
							}
						}
					}
					.news-btn {
						width: 168px;
						height: 55px;
						margin-bottom: 60px;
						p {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}
