
.TNRnews{
    img{
        width: 100%;
        height: auto;
        display: block;
    }
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
    padding: 0px 140px;
}
.announce{
   
     position: fixed;
     top: 27.5%;
   width: 18.2%;
    background:url(/img/first-section/米色背景.jpg) ;
    border-radius:40px ;
    ul{
        
        padding-top: 74px;
        padding-bottom: 90px;
        text-align: center;
        li{
            margin-bottom: 73px;

        }
        li:nth-child(5){
            margin-bottom: unset;
        }
        a{
            font-size: 24px;
        }
    }
}
.allNews{
    width: 72.5%;
   margin-left: 27.5%;
   

   
  }
  .NewsCard{
    
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .card{
        width: 31.62%;
        margin-bottom: 5.88%;
    
.pic{
   
    
    position: relative;
    img{
        border-radius: 40px 40px 0 0;
    }
   
  
    .newDeco{
        position: absolute;
        top: -48px;
        left: 31px;
    display: flex;
    P{
font-size:24px ;
// color: #FFA183;
    }

}

}


    }
  }
    
  .NewsCard{
      .text{
         
         
        border-radius:  0 0 40px 40px;
    font-size: 24px;
    color: white;
         background-color: #FFA183;
         img{
             margin: 5.4% 0;
         }
         h4{
            padding: 0 10% 16% 10%;
         }
         p{text-align: center;
            padding-top: 5.4% ;
             opacity: 0.8;
         }
      }
  
  }
  footer{
      z-index:2;
  position:relative;}