nav .nav {
  margin-bottom: 9.38%;
}

main .first-section {
  margin-bottom: 190px;
}

main .first-section .container140 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .first-section .container140 .process {
  width: 29.76%;
  padding: 27px 0;
  border-radius: 20px;
  border: 5px solid #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .first-section .container140 .process h2 {
  font-size: 3vw;
  color: #ffa183;
  margin-right: 1vw;
}

main .first-section .container140 .process h5 {
  font-size: 2vw;
  color: #ffa183;
}

main .first-section .container140 .active {
  background-color: #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .first-section .container140 .active::before {
  position: absolute;
  top: -44%;
  left: 17.16%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 41.5px 50px 41.5px;
  border-color: transparent transparent #ffa183 transparent;
}

main .first-section .container140 .active::after {
  position: absolute;
  top: -44%;
  right: 17.16%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 41.5px 50px 41.5px;
  border-color: transparent transparent #ffa183 transparent;
}

main .first-section .container140 .active h2 {
  font-size: 3vw;
  color: #ffffff;
  margin-right: 1vw;
}

main .first-section .container140 .active h5 {
  font-size: 2vw;
  color: #ffffff;
}

main .second-section .container140 .content {
  border-bottom: 2px #ffa183 solid;
}

main .second-section .container140 .content .text {
  width: 237px;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  background-color: #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .second-section .container140 .content .text h5 {
  font-size: 32px;
  color: #ffffff;
}

main .second-section .container140 .product-area .top {
  padding: 1.83% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26% (1fr)[3] 90px;
      grid-template-columns: 26% repeat(3, 1fr) 90px;
  border-bottom: 2px solid #ffa183;
}

main .second-section .container140 .product-area .top h6 {
  font-size: 24px;
  color: #4f4f4f;
  text-align: center;
}

main .second-section .container140 .product-area .top h6:nth-child(1) {
  text-align: unset;
  padding-left: 6.1%;
}

main .second-section .container140 .product-area .bot {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26% (1fr)[3] 90px;
      grid-template-columns: 26% repeat(3, 1fr) 90px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ffa183;
}

main .second-section .container140 .product-area .bot h6 {
  font-size: 24px;
  color: #4f4f4f;
  text-align: center;
}

main .second-section .container140 .product-area .bot .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

main .second-section .container140 .product-area .bot .product .product-img {
  margin-right: 16px;
  padding-left: 12px;
}

main .second-section .container140 .product-area .bot .product h6 {
  margin-top: 12px;
}

main .second-section .container140 .product-area .bot .quantity {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .second-section .container140 .product-area .bot .quantity .qty {
  padding: 0;
  font-size: 24px;
  width: 8vw;
  height: 57px;
  text-align: center;
}

main .second-section .container140 .product-area .bot .quantity .minus,
main .second-section .container140 .product-area .bot .quantity .add {
  font-size: 16px;
  line-height: 57px;
  height: 57px;
  border: #707070 solid 1px;
  padding: 0 10px;
}

main .second-section .container140 .product-area .bot .delete {
  font-size: 24px;
  color: #4f4f4f;
}

main .third-section {
  margin-top: 200px;
}

main .third-section .container140 .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .third-section .container140 .top .mode {
  width: 81.3%;
}

main .third-section .container140 .top .mode .content {
  border-bottom: 2px #ffa183 solid;
}

main .third-section .container140 .top .mode .content .text {
  width: 330px;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  background-color: #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .third-section .container140 .top .mode .content .text h5 {
  font-size: 32px;
  color: #ffffff;
}

main .third-section .container140 .top .mode .choose {
  margin-top: 25px;
  padding: 0 20px;
}

main .third-section .container140 .top .mode .choose h6 {
  margin-bottom: 12px;
  font-size: 24px;
  color: #4f4f4f;
}

main .third-section .container140 .top .mode .choose .choose-type {
  margin-bottom: 23px;
}

main .third-section .container140 .top .information {
  width: 39.9%;
  margin-left: 78px;
}

main .third-section .container140 .top .information .content .text {
  width: 191px;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  background-color: #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .third-section .container140 .top .information .content .text h5 {
  font-size: 32px;
  color: #ffffff;
}

main .third-section .container140 .top .information .inf-area {
  border: 2px solid #ffa183;
  padding: 20px 30px;
}

main .third-section .container140 .top .information .inf-area .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

main .third-section .container140 .top .information .inf-area .text h6 {
  font-size: 24px;
  color: #4f4f4f;
}

main .third-section .container140 .top .information .inf-area p {
  font-size: 18px;
  color: #ff7950;
}

main .third-section .container140 .top .information .inf-area .inf-btn {
  margin: auto;
  margin-top: 40px;
  width: 79.8%;
  height: 69px;
  background-color: #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
}

main .third-section .container140 .top .information .inf-area .inf-btn p {
  font-size: 2vw;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .third-section .container140 .top .information .inf-area .inf-btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .third-section .container140 .top .information .inf-area .inf-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .third-section .container140 .bot {
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 18px;
  color: #707070;
  padding-left: 20px;
}

@media (max-width: 992px) {
  main .first-section {
    margin-bottom: 9%;
  }
  main .second-section .container140 .content .text h5 {
    font-size: 26px;
  }
  main .second-section .container140 .product-area .top {
    display: none;
  }
  main .second-section .container140 .product-area .bot {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: unset;
  }
  main .second-section .container140 .product-area .bot h6 {
    text-align: right;
  }
  main .second-section .container140 .product-area .bot .product {
    margin: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .second-section .container140 .product-area .bot .product .product-img {
    padding: unset;
  }
  main .second-section .container140 .product-area .bot .price {
    display: none;
  }
  main .second-section .container140 .product-area .bot .delete {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: right;
  }
  main .second-section .container140 .product-area .bot .quantity {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  main .second-section .container140 .product-area .bot .quantity .qty {
    width: 17vw;
  }
  main .second-section .container140 .product-area .bot .quantity .add,
  main .second-section .container140 .product-area .bot .quantity .minus {
    padding: 0 20px;
  }
  main .second-section .container140 .product-area .bot .subtotal {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  main .third-section {
    margin-top: 100px;
  }
  main .third-section .container140 .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .third-section .container140 .top .mode {
    width: 100%;
    margin-bottom: 100px;
  }
  main .third-section .container140 .top .mode .content .text h5 {
    font-size: 26px;
  }
  main .third-section .container140 .top .information {
    width: 100%;
    margin: 0;
  }
  main .third-section .container140 .top .information .content .text h5 {
    font-size: 26px;
  }
  main .third-section .container140 .top .information .inf-area .inf-btn p {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  main .first-section .container140 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .first-section .container140 .process {
    display: none;
  }
  main .first-section .container140 .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  main .first-section .container140 .active h2 {
    font-size: 48px;
  }
  main .first-section .container140 .active h5 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  main .first-section .container140 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .first-section .container140 .process {
    display: none;
  }
  main .first-section .container140 .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  main .first-section .container140 .active h2 {
    font-size: 8.3vw;
  }
  main .first-section .container140 .active h5 {
    font-size: 4vw;
  }
}
/*# sourceMappingURL=shopping-page-1.css.map */