@import "_style_guide.scss";



.first-section {
	margin-bottom: 286px;
	.container140 {
		.left-img {
			img {
				border-radius: 40px;
			}
		}
		.text-area {
			// width: 594px;
			height: 306px;
			margin-left: 88px;

			h3 {
				margin-bottom: 29px;
				font-size: 56px;
				color: #fe886d;
			}
			p {
				font-size: 18px;
				color: #4f4f4f;
				padding: 20px 120px 20px 0;
			}
			.right-img {
				margin-left: 225px;
			}
		}
	}
}

.second-section {
	margin-bottom: 150px;
	.container140 {
		.shopping-sort {
			.shopping-type {
				width: 200px;
				height: 200px;
				background-color: #f2a589;
				border-width: 10px;
				border-style: solid;
				border-color: #ee815b;
				border-radius: 50%;
				font-size: 48px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #ffffff;
				flex-direction: column;
				cursor: pointer; 

				&:hover .text{
					display: flex;
					font-weight: bold;
				}
				&:hover .icon{
					display: none;
				}
				.text{
					display: none;
				}

			}
			
		}
	}
}

.third-section {
	.container140 {

		.card-area {
			margin-bottom: 70px;
			background-color: #ffa183;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 40px;
			
			&:hover .card-text {
				margin: 0;
				transition-duration: 1s;

			}
			&:hover .card-img {
				border-radius: 40px 40px 0 0;
			}
			.card-img {
				height: 504px;
				object-fit: cover;
				border-radius: 40px;
				position: relative;
			}

			.card-text {
				margin-top: -405px;
				// position: absolute;
				
				h6 {
					font-size: 24px;
					color: #ffffff;
					margin-bottom: 20px;
				}
				p {
					font-size: 18px;
					color: #ffffff;
				}

				.card-price {
					display: flex;
					align-items: center;
					justify-content: space-between;
					.price {
						margin-top: 48.5px;
						h6 {
							font-size: 24px;
						}
						h4 {
							font-size: 40px;
							color: #ffffff;
						}
					}
					.shopping-cart-icon {
						width: 68px;
						height: 68px;
						border-radius: 50%;
						background-color: #ff7950;
						font-size: 40px;
						color: #ffffff;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 75px;
						cursor: pointer; 
					}
				}
			}
		}

		.card-area.bot {
			
			&:hover .card-text {
				margin-top: -405px;
				z-index: 1;
				background-color: rgba(0,0,0,0.5);
			}
			&:hover .card-img {
				border-radius: 40px;
				position:unset;
			}
		}
	}
}



