@import "_style_guide.scss";

nav{
	.nav{

		margin-bottom: 9.38%;
	}
}

main {
	
	.first-section {
		margin-bottom: 190px;
		.container140 {
			display: flex;
			justify-content: space-between;
			.process {
				width: 29.76%;
				padding: 27px 0;
				border-radius: 20px;
				border: 5px solid #ffa183;
				display: flex;
				justify-content: center;
				align-items: center;
				h2 {
					font-size: 3vw;
					color: #ffa183;
					margin-right: 1vw;
				}
				h5 {
					font-size: 2vw;
					color: #ffa183;
				}
			}
			.active {
				background-color: #ffa183;
				display: flex;
				justify-content: center;
				align-items: center;
				h2 {
					font-size: 3vw;
					color: #ffffff;
					margin-right: 1vw;
				}
				h5 {
					font-size: 2vw;
					color: #ffffff;
				}
			}
		}
	}

	.second-section {
		.container140 {
			.content {
				border-bottom: 2px #ffa183 solid;
				.text {
					width: 237px;
					padding: 20px 0;
					border-radius: 20px 20px 0 0;
					background-color: #ffa183;
					display: flex;
					justify-content: center;
					align-items: center;
					h5 {
						font-size: 32px;
						color: #ffffff;
					}
				}
			}

			.product-area {
				.top {
					padding: 1.83% 0;
					display: grid;
					grid-template-columns: 26% repeat(3, 1fr) 90px;
					border-bottom: 2px solid #FFA183;
					h6 {
						font-size: 24px;
						color: #4f4f4f;
						text-align: center;
						&:nth-child(1) {
							text-align: unset;
							padding-left: 6.1%;
						}
					}
				}
				.bot {
					margin-top: 30px;
					display: grid;
					grid-template-columns: 26% repeat(3, 1fr) 90px;
					padding-bottom: 30px;
					border-bottom: 2px solid #FFA183;
					h6 {
						font-size: 24px;
						color: #4f4f4f;
						text-align: center;
					}

					.product {
						display: flex;
						margin-left: 10px;
						.product-img {
							margin-right: 16px;
							padding-left: 12px;
						}
						h6{
							margin-top: 12px;
						}
					}
					.quantity {
						justify-content: center;
						display: flex;
						.qty {
							padding: 0;
							font-size: 24px;
							width: 8vw;
							height: 57px;
							text-align: center;
						}
						.minus,
						.add {
							font-size: 16px;
							line-height: 57px;
							height: 57px;
							border: #707070 solid 1px;
							padding: 0 10px;
						}
					}
					.delete{
						font-size: 24px;
						color: #4F4F4F;
					}
				}
			}
		}
	}

	.third-section {
		margin-top: 200px;
		.container140 {
			.top {
				display: flex;
				.mode {
					width: 81.3%;
					.content {
						border-bottom: 2px #ffa183 solid;
						.text {
							width: 330px;
							padding: 20px 0;
							border-radius: 20px 20px 0 0;
							background-color: #ffa183;
							display: flex;
							justify-content: center;
							align-items: center;
							h5 {
								font-size: 32px;
								color: #ffffff;
							}
						}
					}
					.choose {
						margin-top: 25px;
						padding: 0 20px;
						h6 {
							margin-bottom: 12px;
							font-size: 24px;
							color: #4f4f4f;
						}
						.choose-type {
							margin-bottom: 23px;
						}
					}
				}

				.information {
					width: 39.9%;
					margin-left: 78px;
					.content {
						.text {
							width: 191px;
							padding: 20px 0;
							border-radius: 20px 20px 0 0;
							background-color: #ffa183;
							display: flex;
							justify-content: center;
							align-items: center;
							h5 {
								font-size: 32px;
								color: #ffffff;
							}
						}
					}
					.inf-area {
						border: 2px solid #ffa183;
						padding: 20px 30px;
						.text {
							display: flex;
							justify-content: space-between;
							margin-bottom: 20px;
							h6 {
								font-size: 24px;
								color: #4f4f4f;
							}
						}
						p {
							font-size: 18px;
							color: #ff7950;
						}

						.inf-btn {
							margin: auto;
							margin-top: 40px;
							width: 79.8%;
							height: 69px;
							background-color: $color-dark-orange;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 40px;
							cursor: pointer;
							box-shadow: 0px 10px 30px 0px $color-dark-orange;

							p {
								font-size: 2vw;
								font-weight: bold;
								color: $color-btn-text;
								border-bottom: 4px solid $color-dark-orange;
							}
							&:hover p {
								border-bottom: 4px solid $color-btn-text;
								transition-duration: 0.8s;
							}
							&:hover {
								box-shadow: 0px 0px 10px 0px $color-dark-orange;
								transition-duration: 0.8s;
							}
						}
					}
				}
			}
			.bot {
				margin-top: 80px;
				margin-bottom: 100px;
				font-size: 18px;
				color: #707070;
				padding-left: 20px;
			}
		}
	}

	@media(max-width:992px){
		.first-section{
			margin-bottom: 9%;
		}

		.second-section{
			.container140{
				.content {
					.text {
						h5 {
							font-size: 26px;
						}
					}
				}
				.product-area{
					.top{
						display: none;
					}
					.bot{
						grid-template: repeat(2,1fr)/repeat(2,1fr);
						align-items: center;
						padding: unset;
						h6{
							text-align: right;
						}
						.product{
							margin: unset;
							align-items: center;
							.product-img{
								padding: unset;
							}
						}
						.price{
							display: none;
						}
						.delete{
							order: 1;
							text-align: right;
						}
						.quantity{
							order: 2;
							justify-content: unset;
							.qty{
								width: 17vw;
							}
							.add,.minus{
								padding: 0 20px;
							}
						}
						.subtotal{
							order: 3;
						}
					}
				}
			}
		}

		.third-section{
			margin-top: 100px;
			.container140{
				.top{
					flex-direction: column;
					.mode{
						width: 100%;
						margin-bottom: 100px;
						.content {
							.text {
								h5 {
									font-size: 26px;
								}
							}
						}
					}
					.information{
						width: 100%;
						margin: 0;
						.content {
							.text {
								h5 {
									font-size: 26px;
								}
							}
						}
						.inf-area{
							.inf-btn{
								p{
									font-size: 32px;
								}
							}
						}
					}
				}
			}
		}
	}
}
