main .first-section {
  margin-bottom: 190px;
}

main .first-section .container140 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .first-section .container140 .process {
  width: 29.76%;
  padding: 27px 0;
  border-radius: 20px;
  border: 5px solid #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .first-section .container140 .process h2 {
  font-size: 3vw;
  color: #ffa183;
  margin-right: 1vw;
}

main .first-section .container140 .process h5 {
  font-size: 2vw;
  color: #ffa183;
}

main .first-section .container140 .active {
  background-color: #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .first-section .container140 .active h2 {
  font-size: 3vw;
  color: #ffffff;
  margin-right: 1vw;
}

main .first-section .container140 .active h5 {
  font-size: 2vw;
  color: #ffffff;
}

main .first-section .container140 .active .cat-ear {
  position: absolute;
  top: -45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .container140 .detail {
  margin-bottom: 100px;
  border-top: 1px solid #ffa183;
  border-bottom: 1px solid #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container140 .detail .text {
  margin-top: 30px;
  margin-bottom: 10px;
}

main .container140 .detail .text h6 {
  font-size: 32px;
  font-weight: bold;
  color: #4f4f4f;
}

main .container140 .detail .select {
  margin-bottom: 30px;
  width: 186px;
}

main .second-section .container140 .content {
  border-bottom: 2px #ffa183 solid;
}

main .second-section .container140 .content .text {
  width: 237px;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  background-color: #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .second-section .container140 .content .text h5 {
  font-size: 32px;
  color: #ffffff;
}

main .second-section .container140 .form-area {
  padding: 70px 60px;
}

main .third-section {
  margin-top: 120px;
}

main .third-section .container140 .content {
  border-bottom: 2px #ffa183 solid;
}

main .third-section .container140 .content .text {
  width: 237px;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  background-color: #ffa183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .third-section .container140 .content .text h5 {
  font-size: 32px;
  color: #ffffff;
}

main .third-section .container140 .radio-area {
  padding: 0 60px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .third-section .container140 .radio-area h5 {
  font-size: 32px;
  line-height: 40px;
  color: #4f4f4f;
  margin-right: 30px;
}

main .third-section .container140 .radio-area .radio {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

main .third-section .container140 {
  margin-top: 134px;
}

main .third-section .container140 .text-area {
  font-size: 18px;
}

main .fouth-section {
  margin-top: 80px;
  margin-bottom: 214px;
}

main .fouth-section .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .fouth-section .btn-area .btn {
  margin-top: 40px;
  width: 20.05%;
  height: 69px;
  background-color: #ff7950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 30px 0px #ff7950;
          box-shadow: 0px 10px 30px 0px #ff7950;
}

main .fouth-section .btn-area .btn p {
  font-size: 32px;
  color: #ffffff;
  border-bottom: 4px solid #ff7950;
}

main .fouth-section .btn-area .btn:hover p {
  border-bottom: 4px solid #ffffff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .fouth-section .btn-area .btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #ff7950;
          box-shadow: 0px 0px 10px 0px #ff7950;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .fouth-section .btn-area .back {
  background-color: unset;
  color: #4f4f4f;
  -webkit-box-shadow: 0px 10px 30px 0px;
          box-shadow: 0px 10px 30px 0px;
  margin-right: 57px;
}

main .fouth-section .btn-area .back p {
  color: #4f4f4f;
  border-bottom: 4px solid #ffffff;
}

main .fouth-section .btn-area .back:hover p {
  border-bottom: 4px solid #4f4f4f;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

main .fouth-section .btn-area .back:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #4f4f4f;
          box-shadow: 0px 0px 10px 0px #4f4f4f;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@media (max-width: 768px) {
  main .first-section .container140 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .first-section .container140 .process {
    display: none;
  }
  main .first-section .container140 .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  main .first-section .container140 .active h2 {
    font-size: 48px;
  }
  main .first-section .container140 .active h5 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=shopping-page-2.css.map */