@import "_style_guide.scss";

main {
	.first-section {
		margin-bottom: 190px;
		.container140 {
			display: flex;
			justify-content: space-between;
			position: relative;
			.cat-ear {
				position: absolute;
				top: -30%;
				left: 67.5vw;
				width: 24.76%;
				display: flex;
				justify-content: space-around;
			}
			.process {
				width: 29.76%;
				padding: 27px 0;
				border-radius: 20px;
				border: 5px solid #ffa183;
				display: flex;
				justify-content: center;
				align-items: center;
				h2 {
					font-size: 3vw;
					color: #ffa183;
					margin-right: 1vw;
				}
				h5 {
					font-size: 2vw;
					color: #ffa183;
				}
			}
			.active {
				background-color: #ffa183;
				display: flex;
				justify-content: center;
				align-items: center;
				h2 {
					font-size: 3vw;
					color: #ffffff;
					margin-right: 1vw;
				}
				h5 {
					font-size: 2vw;
					color: #ffffff;
				}
			}
		}
	}

	.thank-text {
		display: flex;
		justify-content: center;
		margin-bottom: 103px;
		h4 {
			font-size: 46px;
			color: #4f4f4f;
		}
		.text-img {
			width: 60px;
			height: 60px;
			margin-left: 37.5px;
		}
	}

	.second-section {
		.container140 {
			.content {
				border-bottom: 2px #ffa183 solid;
				.text {
					width: 237px;
					padding: 20px 0;
					border-radius: 20px 20px 0 0;
					background-color: #ffa183;
					display: flex;
					justify-content: center;
					align-items: center;
					h5 {
						font-size: 32px;
						color: #ffffff;
					}
				}
			}

			.product-area {
				.top {
					padding: 1.83% 0;
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					border-bottom: 2px solid #ffa183;
					h6 {
						font-size: 24px;
						color: #4f4f4f;
						text-align: center;
						&:nth-child(1) {
							text-align: unset;
							padding-left: 6.1%;
						}
					}
				}
				.bot {
					margin-top: 30px;
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					h6 {
						font-size: 24px;
						color: #4f4f4f;
						text-align: center;
					}
					.product {
						h6 {
							text-align: unset;
							padding-left: 6.1%;
						}
					}
				}
			}
		}
	}

	.third-section {
		margin-top: 142px;
		.container140 {
			h6 {
				font-size: 40px;
				span {
					margin-left: 20px;
					font-size: 24px;
				}
			}
		}
	}

	.fouth-section {
		margin-top: 186px;
		margin-bottom: 722px;
		.btn-area {
			display: flex;
			justify-content: center;
			.btn {
				margin-top: 40px;
				width: 20.05%;
				height: 69px;
				background-color: $color-dark-orange;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 40px;
				cursor: pointer;
				box-shadow: 0px 10px 30px 0px $color-dark-orange;

				p {
					font-size: 32px;
					color: $color-btn-text;
					border-bottom: 4px solid $color-dark-orange;
				}
				&:hover p {
					border-bottom: 4px solid $color-btn-text;
					transition-duration: 0.8s;
				}
				&:hover {
					box-shadow: 0px 0px 10px 0px $color-dark-orange;
					transition-duration: 0.8s;
				}
			}
			.back {
				background-color: unset;
				color: #4f4f4f;
				box-shadow: 0px 10px 30px 0px;
				margin-right: 57px;
				p {
					color: #4f4f4f;
					border-bottom: 4px solid #ffffff;
				}
				&:hover p {
					border-bottom: 4px solid #4f4f4f;
					transition-duration: 0.8s;
				}
				&:hover {
					box-shadow: 0px 0px 10px 0px #4f4f4f;
					transition-duration: 0.8s;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.first-section {
			.container140 {
				display: flex;
				justify-content: center;
				.cat-ear {
					width: 65%;
					left: unset;
					justify-content: space-around;
				}
				.process {
					display: none;
				}
				.active {
					display: flex;
					width: 80%;
					h2 {
						font-size: 48px;
					}
					h5 {
						font-size: 24px;
					}
				}
			}
		}
	}
}
