@import "_style_guide.scss";

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	height: 3000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	margin: 0;
	font-weight: unset;
	color: unset;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

.container170 {
	padding: 0 8.87%;
}

.container140 {
	padding: 0 7.3%;
}

.mt-200 {
	margin-top: 200px;
}

ul,
li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.max-w {
	max-width: 1920px;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 7.3% 0;
	// position: absolute; //首頁
	margin-bottom: 180px; //其他頁面

	.logo {
		width: 511px;
		height: 83.5px;
		background-image: url("/img/logo.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.menu {
		font-size: 100px;
		line-height: 50px;
		position: fixed;
		right: 7.3%;
		top: 40px;
		height: 37px;
		z-index: 99;

		.burger {
			width: 90px;
			height: 7px;
			border-radius: 20px;
			background-color: $color-text;

			position: relative;

			&::before,
			&::after {
				content: "";
				width: 90px;
				height: 7px;
				border-radius: 20px;
				background-color: $color-text;
				position: absolute;
				top: 15px;
			}

			&::after {
				top: 30px;
			}

			display: none;
		}

		&:hover .burger,
		&:hover .burger::after,
		&:hover .burger::before {
			background-color: $color-dark-orange;
		}

		.active {
			display: block;
		}
	}
	.burger-area {
		float: right;
		width: 960px;
		height: 100vh;
		background-image: url("/img/first-section/米色背景.jpg");
		border-radius: 40px 0 40px 40px;
		opacity: 0.8;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 99;

		span {
			font-size: 100px;
			color: #707070;
			float: right;
			position: absolute;
			right: 140px;
		}

		.list {
			display: flex;
			flex-direction: column;
			align-items: center;

			a {
				font-size: 64px;
				color: #4f4f4f;
				margin-bottom: 6%;
				cursor: pointer;
				border-bottom: 4px solid transparent;
				padding-bottom: 10px;

				&:hover {
					color: $color-btn-text;
					border-bottom: 4px solid $color-btn-text;
					padding-bottom: 10px;
					transition-duration: 0.3s;
				}
			}

			.nav-btn {
				width: 381px;
				height: 130px;
				background-color: $color-dark-orange;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 40px;
				box-shadow: 0px 10px 30px 0px $color-dark-orange;
				cursor: pointer;
				padding: 33px;
				margin-bottom: 136px;

				p {
					font-size: 48px;
					font-weight: bold;
					color: $color-btn-text;
					border-bottom: 4px solid $color-dark-orange;
				}
				&:hover p {
					border-bottom: 4px solid $color-btn-text;
					transition-duration: 0.8s;
				}
				&:hover {
					box-shadow: 0px 0px 10px 0px $color-dark-orange;
					transition-duration: 0.8s;
				}
			}
		}

		display: none;
	}

	.active {
		display: block;
	}
}

footer {
	.footer-area {
		.footer-img {
			width: 100%;
			height: 42px;
			background-image: url("/img/footer-wave.png");
			background-repeat: no-repeat;
			background-size: cover;
		}

		.container140 {
			width: 100%;
			background-color: #777777;

			.ft-top {
				width: 100%;
				display: flex;
				justify-content: space-between;

				.ft-left {
					// width: 714px;
					padding-top: 80px;

					.text-1 {
						display: flex;
						align-items: center;
						font-size: 20px;
						color: $color-btn-text;

						&:hover {
							text-decoration: underline;
						}
					}

					.text-2 {
						margin: 20px 0;
						display: flex;
						align-items: center;
						font-size: 20px;
						color: $color-btn-text;

						&:hover {
							text-decoration: underline;
						}
					}

					.text-3 {
						display: flex;
						align-items: center;
						font-size: 24px;
						color: $color-btn-text;
						a {
							&:hover {
								text-decoration: underline;
								color: white;
							}
						}

						.contact {
							border-radius: 20px;
							background-color: $color-btn-text;
							padding: 0 30px;
							margin-left: 10px;
							margin-right: 70px;

							.ft-input {
								width: 261px;
								margin-left: 10px;
								outline-style: none;
								border: 0px;
								border-radius: 20px;
							}
							.contact-btn {
								padding: 0;
								border-radius: 20px;
								border: none;
								background-color: $color-btn-text;
								outline: 0;
								cursor: pointer;
							}
						}

						.fb-icon {
							width: 44px;
							height: 44px;
							border-radius: 50%;
							background-color: $color-light-orange;
							color: $color-btn-text;
							font-size: 23px;
							line-height: 44px;
							text-align: center;

							&:hover {
								box-shadow: 0px 0px 20px 0px $color-dark-orange;
								transition-duration: 0.8s;
							}
						}
					}
				}

				.ft-mouse {
					margin-top: 70px;
					width: 164px;
					height: 158px;
					border-radius: 50%;
					border: 2px solid #ffffff;
					background-image: url("/img/mouse.png");
					background-repeat: no-repeat;
					background-position: 45px 35px;
					display: flex;
					justify-content: center;
					align-items: flex-end;

					span {
						color: $color-btn-text;
						font-size: 15px;
						padding-bottom: 15px;
					}

					&:hover {
						box-shadow: 0px 0px 20px 0px $color-btn-text;
						transition-duration: 0.8s;
					}
				}
			}

			.ft-bot {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-top: 60px;
				padding-bottom: 80px;

				p {
					font-size: 16px;
					color: $color-btn-text;
				}
			}
		}
	}
}

@media (max-width: 935px) {
	footer {
		.footer-area {
			.container140 {
				.ft-top {
					.ft-left {
						.text-1 {
							font-size: 18px;
						}
						.text-3 {
							font-size: 20px;
							.contact {
								margin-right: 20px;
								.ft-input {
									width: 175px;
								}
							}
						}
					}

					.ft-mouse {
						margin-top: 110px;
						width: 135px;
						height: 129px;
						background-position: 30px 9px;
					}
				}
				.ft-bot{
					margin-top: 20px;
					padding-bottom: 40px;
				}
			}
		}
	}
}

@media(max-width:800px){
	footer {
		.footer-area {
			.container140 {
				.ft-top {
					.ft-left {
						.text-1 {
							font-size: 18px;
						}
						.text-3 {
							font-size: 20px;
							.contact {
								display: none;
							}
							.fb-icon{
								margin-left: 50px;
							}
						}
					}

					.ft-mouse {
						margin-top: 110px;
						width: 135px;
						height: 129px;
						background-position: 30px 9px;
					}
				}
				.ft-bot{
					margin-top: 20px;
					padding-bottom: 40px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.nav {
		.logo {
			width: 90px;
			height: 90px;
			background-image: url("/img/logo-head.png");
		}

		.burger-area {
			width: 576px;
			height: unset;
			span {
				right: 50px;
			}
			.list {
				a {
					font-size: 32px;
					margin-bottom: 3%;
				}
				.nav-btn {
					width: 290px;
					height: 90px;
					margin-bottom: 30px;
					p {
						font-size: 32px;
					}
				}
			}
		}
	}

	footer {
		.footer-area {
			// display: none;
			.container140 {
				padding: 0 6.9%;

				.ft-top {
					position: relative;
					.ft-left {
						padding-top: 6.9%;
						.text-1 {
							align-items: unset;
							line-height: 20px;
						}

						.text-3 {
							a {
								cursor: pointer;
								&:hover {
									text-decoration: underline;
									color: white;
								}
							}
							.contact {
								margin-right: 0px;
								padding: 0;
								.ft-input {
									display: none;
								}
								.contact-btn {
									display: none;
								}
							}
						}
					}
					.ft-mouse {
						width: 100px;
						height: 100px;
						background-position: 20px 0px;
						// margin-top: 160px;
						position: absolute;
						top: 17%;
						right: -20px;

						span {
							font-size: 10px;
							padding: 0;
						}
					}
				}

				.ft-bot {
					justify-content: space-around;
					padding-bottom: 30px;
					margin-top: 80px;

					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}
